<% content_for :title, @world_location_news.title %>

<% content_for :meta_tags do %>
  <%= tag("meta", name: "description", content: @world_location_news.description) if @world_location_news.description %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: @world_location_news.title,
    } %>
  </div>
</div>
