<% if child_taxons.present? %>
  <div class="grid-row child-topic-contents">
    <div class="column-two-thirds">
      <div class="topic-content">

        <div data-module="accordion-with-descriptions">
          <div class="subsection-wrapper">
            <% child_taxons.each_with_index do |taxon, index| %>
              <div class="subsection js-subsection">
                <div class="subsection-header">
                  <h2 class="subsection-title"><%= taxon.title %></h2>
                  <p class="subsection-description"><%= taxon.description %></p>
                </div>

                <div class="subsection-content js-subsection-content" id="subsection_content_<%= index %>">
                  <%= render partial: 'content_list_for_child_taxon', locals: {
                    section_index: index,
                    tagged_content: taxon.tagged_content,
                  } %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
