<nav role="navigation" class="child-topics-list">
  <h2>In this section</h2>
  <ol>
    <% child_taxons.each_with_index do |child_taxon, index| %>
      <li class="<%= 'leftmost-row-cell-clear-float' if index % 3 == 0 %>">
        <h3>
          <%= link_to(
            child_taxon.title,
            child_taxon.base_path,
            data: {
              track_category: 'navGridLinkClicked',
              track_action: index + 1,
              track_label: child_taxon.base_path,
              track_options: {
                dimension28: child_taxons.size.to_s,
                dimension29: child_taxon.title,
              },
              module: 'track-click',
            }
          )%>
        </h3>
        <p><%= child_taxon.description %></p>
      </li>
    <% end %>
  </ol>
</nav>
