<nav role="navigation" class="child-topics-list">
  <h2>In this section</h2>
  <ol>
    <% child_taxons.each_with_index do |child_taxon, index| %>
      <li class="<%= 'leftmost-row-cell-clear-float' if index % 3 == 0 %>">
        <%= link_to child_taxon.base_path do %>
          <h3>
            <%= child_taxon.title %>
          </h3>
          <p><%= child_taxon.description %></p>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>
