<% content_for :is_taxon_page, true %>
<% content_for :title, presented_taxon.title %>
<% content_for :meta_tags do %>
  <% if !presented_taxon.live_taxon? %>
    <% # prevent search engines from indexing this page %>
    <meta name="robots" content="noindex, nofollow">
  <% end %>
  <meta name="description" content="<%= presented_taxon.description %>">
  <meta name="govuk:navigation-page-type" content="<%= presented_taxon.rendering_type %>" />
<% end %>

<%= render partial: 'page_header', locals: { presented_taxon: presented_taxon } %>

<div class="full-page-width-wrapper">
  <%= render partial: 'email_alerts', locals: { presented_taxon: presented_taxon } %>
</div>
