<% content_for :is_full_width_header, true %>
<% content_for :title, presented_taxon.title %>
<% content_for :meta_tags do %>
  <meta name="robots" content="noindex">
  <meta name="description" content="<%= presented_taxon.description %>">
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Taxon Page",
    }
  } %>
<% end %>

<%= render partial: 'page_header', locals: { presented_taxon: presented_taxon } %>

<% if taxon_is_live?(presented_taxon) %>
  <div class="taxon-page__email-link-wrapper">
    <div
      class="full-page-width-wrapper"
      data-module="ga4-link-tracker"
      data-ga4-link='{ "event_name": "navigation", "type": "subscribe", "index_link": 1, "index_total": 1, "section": "Top" }'
      data-ga4-track-links-only
    >
      <%= render "govuk_publishing_components/components/signup_link", {
        link_text: t("shared.get_emails"),
        link_href: "/email-signup/?link=#{presented_taxon.base_path}",
        data: {
          "module": "gem-track-click",
          "track-category": "emailAlertLinkClicked",
          "track-action": presented_taxon.base_path,
          "track-label": ""
        }
      } %>
    </div>
  </div>
<% end %>
