<ol class="subsection-list">
  <% tagged_content.each do |content_item| %>
    <li class="subsection-list-item">
      <%= link_to content_item.title, content_item.base_path %>

      <p><%= content_item.description %></p>
    </li>
  <% end %>
</ol>
