<ol class="subsection-list">
  <%= render partial: 'email_alerts' %>
  <% tagged_content.each_with_index do |content_item, index| %>
    <li class="subsection-list-item">
      <%= link_to(
        content_item.title,
        content_item.base_path,
        data: {
          track_category: 'navAccordionLinkClicked',
          track_action: "#{section_index + 1}.#{index + 1}",
          track_label: content_item.base_path,
          track_options: {
            dimension28: tagged_content.size.to_s,
            dimension29: content_item.title,
          },
          module: 'track-click',
        }
      )%>

      <p><%= content_item.description %></p>
    </li>
  <% end %>
</ol>
