<div class="grid-row">
  <div class="column-two-thirds">
    <div class="parent-topic-contents">
      <div class="topic-content">
        <% if taxon.child_taxons.present? %>
          <h2><%= taxon.title %> guidance</h2>
          <p><%= taxon.description %></p>
        <% end %>

        <ol>
          <% tagged_content.each do |content_item| %>
            <li>
              <h3>
                <%= link_to content_item.title, Plek.new.website_root + content_item.base_path %>
              </h3>
              <p><%= content_item.description %></p>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
