<ol class="subsection-list">
  <% tagged_content.each_with_index do |content_item, index| %>
    <li class="subsection-list-item">
      <%= link_to(
        content_item.title,
        content_item.base_path,
        data: {
          track_category: 'navAccordionLinkClicked',
          track_action: "#{section_index + 1}.#{index + 1}",
          track_value: tagged_content.size,
          track_label: content_item.base_path,
          track_dimension: content_item.title,
          track_dimension_index: '29',
          module: 'track-click',
        }
      )%>

      <p><%= content_item.description %></p>
    </li>
  <% end %>
</ol>
