<% is_grid ||= false %>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="parent-topic-contents">
      <div class="topic-content">
        <% if taxon.child_taxons.present? %>
          <h2><%= taxon.title %> guidance</h2>
          <p><%= taxon.description %></p>
        <% end %>

        <ol>
          <% tagged_content.each_with_index do |content_item, index| %>
            <li>
              <h3>
                <%= link_to(
                  content_item.title,
                  Plek.new.website_root + content_item.base_path,
                  data: {
                    track_category: is_grid ? 'navGridLeafLinkClicked' : 'navLeafLinkClicked',
                    track_action: index + 1,
                    track_value: tagged_content.size,
                    track_label: content_item.base_path,
                    track_dimension: content_item.title,
                    track_dimension_index: 29,
                    module: 'track-click',
                  }
                ) %>
              </h3>
              <p><%= content_item.description %></p>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
