<% if presented_taxon.show_organisations? %>
  <div class="taxon-page__section-group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="taxon-page__section-heading">Organisations</h2>
      </div>
    </div>

    <%= render partial: 'organisations_with_logos', locals: { organisations: presented_taxon.organisation_list_with_logos } %>

    <%= render partial: 'document_list_with_grid', locals: { documents: presented_taxon.organisation_list } %>
  </div>


<% end %>
