<div class="grid-row taxon-page__organisations">
  <ol class="column-two-thirds">
    <% organisations_with_logos.each do |promoted_organisation| %>
      <li class="taxon-page__organisation">
        <%= render 'govuk_component/organisation_logo', {
            organisation: promoted_organisation
          }
        %>
      </li>
    <% end %>
  </ol>
</div>

<% if organisations_without_logos.any? %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render 'govuk_publishing_components/components/document_list',
        items: organisations_without_logos,
        margin_bottom: true
      %>
    </div>
  </div>
<% end %>
