<% if presented_taxon.show_organisations? %>
  <div class="taxon-page__section-group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="taxon-page__section-heading">Organisations</h2>
        <%= render 'govuk_publishing_components/components/document_list',
          items: presented_taxon.taxon_organisations,
          margin_top: true,
          margin_bottom: false
      %>
      </div>
    </div>
  </div>
<% end %>