<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-title length-long">
      <h1>
        <%= taxon.title %>
      </h1>
      <p><%= taxon.description %></p>
      <%= render partial: 'email_alerts' %>
    </div>
  </div>
</div>
