<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-title length-long">
      <h1>
        <%= presented_taxon.title %>
      </h1>
      <p><%= presented_taxon.description %></p>
      <%= render partial: 'email_alerts', locals: { presented_taxon: presented_taxon } %>
    </div>
  </div>
</div>
