<%= render "govuk_publishing_components/components/inverse_header", { full_width: true } do %>
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: GovukPublishingComponents::AppHelpers::TaxonBreadcrumbs.new(@content_item).breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: presented_taxon.title,
          average_title_length: 'long',
          inverse: true
        } %>

        <%= render 'govuk_publishing_components/components/lead_paragraph', {
            text: presented_taxon.description,
            inverse: true
        } %>
      </div>
    </div>
  </div>
<% end %>
