<div class="grid-row">
  <div class="column-two-thirds">
    <div class="page-header">
      <h1>
        <% if parent_taxon.present? %>
          <span class="sub-heading">
            <%= link_to parent_taxon.title, parent_taxon.base_path %>
          </span>
        <% end %>
        <%= taxon.title %>
      </h1>

      <p><%= taxon.description %></p>
    </div>
  </div>
</div>
