<% is_grid ||= false %>

<% if presented_taxon.tagged_content.any? || !is_grid %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="parent-topic-contents">
        <div class="topic-content">
          <% if presented_taxon.child_taxons.present? %>
            <h2><%= presented_taxon.title %> guidance</h2>
            <p><%= presented_taxon.description %></p>
          <% end %>

          <ol>
            <% presented_taxon.tagged_content.each_with_index do |content_item, index| %>
              <li>
                <h2>
                  <%= link_to(
                    content_item.title,
                    content_item.base_path,
                    data: is_grid ? presented_taxon.options_for_tagged_content(index: index) :
                              presented_taxon.options_for_leaf_content(index: index)
                  ) %>
                </h2>
                <p><%= content_item.description %></p>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
<% end %>
