<% add_app_component_stylesheet("bunting") %>

<div class="app-c-bunting" aria-hidden="true">
    <div class="app-c-bunting__triangles"></div>
</div>

<div class="app-c-bunting--spacer" aria-hidden="true"></div>
