<%
  items ||= []
%>
<% if items.any? %>
  <ol class="app-c-highlight-boxes">
    <% items.each_with_index do |item, index| %>
      <li class="app-c-highlight-boxes__item">
        <div class="app-c-highlight-boxes__box">
        <%=
          link_to(
            item[:text],
            item[:path],
            data: item[:data_attributes],
            class: "app-c-highlight-boxes__link"
          )
        %>
        <% if item[:description] %>
          <p class="app-c-highlight-boxes__description">
            <%= item[:description] %>
          </p>
        <% end %>
      </div>
      </li>
    <% end %>
  </ol>
<% end %>
