<%
  items ||= []
  see_more_link ||= false

  brand ||= false
  brand_helper = GovukPublishingComponents::Presenters::BrandHelper.new(brand)
%>
<% if items.any? %>
  <ol class="app-c-topic-list <%= brand_helper.get_brand %>">
    <% items.each do |item| %>
      <li class="app-c-topic-list__item">
        <%=
          link_to(
            item[:text],
            item[:path],
            data: item[:data_attributes],
            class: "app-c-topic-list__link #{brand_helper.get_brand_element("color")}"
          )
        %>
      </li>
    <% end %>
    <% if see_more_link %>
      <li class="app-c-topic-list__item">
        <%=
          link_to(
            see_more_link[:text],
            see_more_link[:path],
            data: see_more_link[:data_attributes],
            class: brand_helper.get_brand_element("color")
          )
        %>
      </li>
    <% end %>
  </ol>
<% end %>
