<% add_app_component_stylesheet("topic-list") %>
<%
  items ||= []
  see_more_link ||= false
  small ||= false
  margin_bottom ||= false
  ga4_data ||= {}

  ul_data_attributes = { "module": "ga4-link-tracker", "ga4-track-links-only": "" } if !ga4_data.empty?

  brand ||= false
  brand_helper = GovukPublishingComponents::AppHelpers::BrandHelper.new(brand)

  ul_classes = %w[govuk-list app-c-topic-list]
  ul_classes << "app-c-topic-list--small" if small
  ul_classes << "govuk-!-margin-bottom-6" if margin_bottom
  ul_classes << brand_helper.brand_class if brand
%>
<% if items.any? %>
  <%= tag.ul(class: ul_classes, lang: "en", data: ul_data_attributes) do %>
    <% items.each_with_index do |item, index| %>
      <li class="app-c-topic-list__item">
        <%
          ga4_link_data = ga4_data.empty? ? {} : {
            ga4_link: {
              event_name: "navigation",
              type: "document list",
              index_link: index + 1,
              # As see_more_link is not included in the items array, we need to account for it here by adding 1 to items.count
              # if see_more_link has been passed
              index_total: (see_more_link ? items.count + 1 : items.count),
              section: ga4_data[:section],
            }
          }
          ga4_link_data[:ga4_link] = ga4_link_data[:ga4_link].merge(ga4_data) unless ga4_data.empty?
        %>
        <%=
          link_to(
            item[:text],
            item[:path],
            data: {**item[:data_attributes] || {}}.merge(ga4_link_data),
            "aria-label": item[:aria_label],
            class: "govuk-link govuk-link--no-underline app-c-topic-list__link #{brand_helper.color_class}"
          )
        %>
      </li>
    <% end %>
    <% if see_more_link %>
      <li class="app-c-topic-list__item">
        <%
          ga4_link_data = ga4_data.empty? ? {} : {
            ga4_link: {
              event_name: "navigation",
              type: "document list",
              index_link: items.count + 1,
              index_total: items.count + 1,
              section: ga4_data[:section],
            }
          }
          ga4_link_data[:ga4_link] = ga4_link_data[:ga4_link].merge(ga4_data) unless ga4_data.empty?
        %>
        <%=
          link_to(
            see_more_link[:text],
            see_more_link[:path],
            data: {**see_more_link[:data_attributes] || {}}.merge(ga4_link_data),
            class: "govuk-link app-c-topic-list__link #{brand_helper.color_class}"
          )
        %>
      </li>
    <% end %>
  <% end %>
<% end %>
