.browse__breadcrumb-wrapper {
  background-color: #d2e2f1;
  overflow: auto;
}
@media (min-width: 40.0625em) {
  .browse__breadcrumb-wrapper {
    padding-bottom: 15px;
  }
}

.browse__section {
  margin-bottom: 60px;
}
@media (min-width: 40.0625em) {
  .browse__section:last-child {
    margin-bottom: 0;
  }
}

.browse__section--top-border {
  border-top: 1px solid var(--govuk-border-colour, #cecece);
  padding-top: 15px;
}

.browse__list > .browse__list-item {
  margin-bottom: 25px;
}

.browse__more-on-this-topic {
  margin-top: 20px;
}
@media (min-width: 40.0625em) {
  .browse__more-on-this-topic {
    margin-top: 40px;
    margin-bottom: 5px;
  }
}

.browse__action-links {
  border-bottom: 4px solid #1d70b8;
  margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
  .browse__action-links {
    margin-bottom: 30px;
  }
}
