<%
  featured_item = section[:promoted_content].first
%>
<% if section[:documents].empty? %>
  <div class="taxon-page__featured-item taxon-page__featured-item--single">
    <%= render "govuk_publishing_components/components/image_card", {
        large: true,
        href: featured_item[:link].fetch(:path),
        image_src: featured_item[:image][:url],
        heading_text: featured_item[:link].fetch(:text),
        metadata: featured_item[:metadata][:organisations],
        context: {
          date: featured_item[:metadata][:public_updated_at],
          text: featured_item[:metadata][:document_type]
        },
        href_data_attributes: {
          track_category: featured_item[:link][:data_attributes][:track_category],
          track_action: featured_item[:link][:data_attributes][:track_action],
          track_label: featured_item[:link][:data_attributes][:track_label],
          track_options: featured_item[:link][:data_attributes][:track_options]
        }
    } %>
  </div>
<% end %>

<% if section[:documents].any? %>
  <%= render 'govuk_publishing_components/components/document_list',
    items: section[:documents_with_promoted],
    margin_bottom: 7
  %>
<% end %>
