  <% accordion_contents = [] %>
  <% t("coronavirus_landing_page.sections").each do | section | %>
    <% content = capture do %>
      <%# this element captures an override from the accordion that the last item has margin 0 %>
      <div class="covid__accordion-inner">
        <%= render( partial: 'section', locals: section ) %>
      </div>
    <% end %>
    <%
      accordion_contents << {
        heading: {
          text: section[:title],
        },
        content: {
          html: content,
        },
        data_attributes: nil
      }
    %>
  <% end %>
  <%= render 'govuk_publishing_components/components/accordion', { items: accordion_contents } %>
