<div class="govuk-grid-column-one-third">
  <%= render "govuk_publishing_components/components/heading", {
    text: related["title"],
    padding: true,
    font_size: 19,
  } %>
  <% related["list"].each do | item | %>
    <p><%= link_to item["text"], item["url"] %></p>
  <% end %>
</div>
