<% sub_sections.each do |sub_section| %>
  <% if sub_section[:title] %>
    <h3 class="govuk-heading-s"><%= sub_section[:title] %></h3>
  <% end %>
  <ul class="govuk-list">
    <% sub_section[:list].each do | item | %>
      <li class="covid__list-item">
        <a class="govuk-link" href="<%= item[:url] %>"><%= item[:label] %></a>
      </li>
    <% end %>
  </ul>
<% end %>
