<%= render "govuk_publishing_components/components/heading", {
  text: t("coronavirus_landing_page.topic_section.header"),
  padding: true,
  border_top: 2
} %>
<p class="govuk-body-m">
  <%= t("coronavirus_landing_page.topic_section.text") %>
</p>

<ul class="govuk-list">
  <% t("coronavirus_landing_page.topic_section.links").each do | link | %>
    <li>
      <%= link_to link[:label].html_safe, link[:url] %>
    </li>
  <% end %>
</ul>
