<%= render partial: "coronavirus_landing_page/components/shared/meta_tags" %>

<%= render partial: "coronavirus_landing_page/components/business/page_header", locals: {
  details: details,
  title: title,
  breadcrumbs: breadcrumbs
} %>

<div class="govuk-width-container covid__page" data-module="coronavirus-landing-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: 'coronavirus_landing_page/components/shared/accordion_sections', locals: { accordions: details.sections } %>
      <%= render partial: 'coronavirus_landing_page/components/shared/topic_section', locals: { topic_section: details.topic_section } %>

      <%# Have removed email section here until we work out how to line up the notifications %>
    </div>
  </div>
</div>
