<%= render partial: "coronavirus_landing_page/components/shared/meta_tags" %>

<%= render partial: "coronavirus_landing_page/components/hub/page_header", locals: {
  header: details.header_section,
  guidance: details.guidance_section,
  notifications: details.notifications,
  title: title,
  breadcrumbs: breadcrumbs
} %>

<div class="govuk-width-container covid__page" data-module="coronavirus-landing-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%# TODO update to gem %>
      <%= render partial: 'coronavirus_landing_page/components/shared/accordion_sections', locals: { accordions: details.sections, heading: details.sections_heading } %>
      <%= render partial: 'coronavirus_landing_page/components/shared/topic_section', locals: { topic_section: details.topic_section } %>

      <%# Have removed email section here until we work out how to line up the notifications %>
    </div>
  </div>
</div>
