<%=
  render(
      partial: 'page_header', locals: { breadcrumbs: breadcrumbs }
  )
%>

<div class="govuk-width-container">
  <%= render partial: 'explainer' %>

  <%= render partial: 'accordion_sections'%>
</div>
