<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("transition_landing_page.topic_section_header"),
      heading_level: 2,
      font_size: "m",
      margin_bottom: 3,
    } %>
  </div>
  <div class="govuk-body govuk-grid-column-two-thirds landing-page__finders">
    <p class="govuk-body"><%= t("transition_landing_page.topic_section_subheading") %></p>
    <%= render "components/topic-list", {
      items: supergroups
    } %>
  </div>
</div>
