<section class="landing-page__section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t("brexit_landing_page.trade_deal_heading"),
        heading_level: 2,
        font_size: "l",
        margin_bottom: 6,
      } %>

      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: link_to(
                t("brexit_landing_page.trade_deal_link.text"),
                t("brexit_landing_page.trade_deal_link.path"),
                class: "govuk-link"
              )
      } %>

      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: t("brexit_landing_page.trade_deal_explainer")
      } %>
    </div>
  </div>
</section>
