<% content_for :page_class, "taxon-page taxon-page--grid" %>
<% content_for :meta_tags %>

<%=
  render(
      partial: 'page_header',
      locals: {
        presented_taxon: presented_taxon
      }
  )
%>

<div class="govuk-width-container">
  <%= render partial: 'take_action_section' %>

  <%= render(
    partial: 'brexit_finders_section',
    locals: {
      supergroups: presented_taxon.supergroup_sections,
      email_path: presented_taxon.email_path,
    }
  ) %>
</div>
