<% content_for :page_class, "taxon-page taxon-page--grid" %>

<div class="govuk-width-container">
  <%= render(
    partial: 'page_header',
    locals: {
      presented_taxon: presented_taxon
    }
  ) %>

  <%= render partial: 'trade_deal_section' %>

  <%= render(
    partial: 'brexit_finders_section',
    locals: {
      supergroups: presented_taxon.supergroup_sections,
      email_path: presented_taxon.email_path,
    }
  ) %>
</div>
