<% content_for :page_class, "taxon-page taxon-page--grid" %>

<%=
  render(
      partial: 'page_header',
      locals: {
        presented_taxon: presented_taxon,
        show_dynamic_list: show_dynamic_list
      }
  )
%>

<div class="landing-page__buckets full-page-width-wrapper">
  <%= render partial: 'buckets', locals: { buckets: presented_taxon.buckets } %>
</div>

<div class="full-page-width-wrapper full-page-width-wrapper--landing-page">
  <%= render partial: 'brexit_finders', locals: { supergroups: presented_taxon.supergroup_sections, email_path: presented_taxon.email_path } %>

  <div class="landing-page__share">
    <% hidden_text = capture do %>
      <span class="govuk-visually-hidden">Share on</span>
    <% end %>
    <%= render "govuk_publishing_components/components/share_links", {
      title: "Share this page",
      columns: true,
      links: [
        {
          href: "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gov.uk%2Fbrexit",
          text: hidden_text + "Facebook",
          icon: "facebook"
        },
        {
          href: "https://twitter.com/share?url=https%3A%2F%2Fwww.gov.uk%2Fbrexit",
          text: hidden_text + "Twitter",
          icon: "twitter"
        },
        {
          href: "mailto:?body=https://www.gov.uk/brexit/&subject=Get ready for Brexit - GOV.UK",
          text: hidden_text + "Email",
          icon: "email"
        },
        {
          href: "https://api.whatsapp.com/send?text=https://www.gov.uk/brexit",
          text: hidden_text + "WhatsApp",
          icon: "whatsapp"
        },
        {
          href: "http://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.gov.uk%2Fbrexit&title=Get%20ready%20for%20Brexit%20-%20GOV.UK",
          text: hidden_text + "LinkedIn",
          icon: "linkedin"
        },
      ]
    } %>
  </div>
</div>
