<% content_for :page_class, "taxon-page taxon-page--grid" %>
<% content_for :brexit_taxon, presented_taxon.brexit? %>
<%=
  render(
      partial: 'common',
      locals: {
          presented_taxon: presented_taxon
      }
  )
%>

<div class="full-page-width-wrapper">
  <div class="grid-row">
  </div>
</div>
