<% if person.has_announcements? %>
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
        text: "Announcements",
        id: "announcements",
        margin_bottom: 2,
    } %>

    <%= render "govuk_publishing_components/components/document_list", {
        items: person.announcement_items
    } %>

    <div class="read-more">
      <%= link_to "View all announcements", person.redirect_to_news_and_communications, class: "govuk-link" %>
    </div>
  </div>
<% end %>
