<div class="govuk-grid-column-two-thirds">
  <%= render "govuk_publishing_components/components/heading", {
      text: "Previous roles in government",
      id: "previous-roles",
  } %>
  <%= render "govuk_publishing_components/components/document_list", {
      items: person.previous_appointments
  } %>
</div>
