<% content_for :title, person.title %>

<%= render "govuk_publishing_components/components/title", {
  context: person.current_roles_title,
  title: person.title
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/image_card", {
      href: "#",
      image_src: person.image_url,
      image_alt: person.image_alt_text,
      description: "Contents",
      extra_links: [
        {
          text: "Biography",
          href: "#biography"
        }
      ]
    } %>
  </div>

  <%= render partial: "biography", locals: { person: person } %>

  <%= render partial: 'previous_roles', locals: {
      person: person
  } %>
</div>
