<div class="latest-subscribe">
  <div class="feeds">
    <span>Get updates to this page</span>
    <%= link_to 'email', email_signup_path(subtopic: subcategory.slug), class: 'email' %>
  </div>
</div>
