.large-paragraph {
  @include govuk-font($size: 19, $weight: bold);
  margin: govuk-spacing(6) 0 govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
}

.landing-page__header {
  padding-bottom: govuk-spacing(6);
}

$ready-grey: #f1f2f3;
$share-grey: #e8eaec;

.landing-page__ready {
  padding: govuk-spacing(8) 0;
  background-color: $ready-grey;
}

.landing-page__share {
  padding: govuk-spacing(6) 0 govuk-spacing(4) 0;
  background-color: $share-grey;
}

.landing-page__section em {
  font-weight: bold;
  font-style: normal;
}

.landing-page__section-title {
  padding-top: govuk-spacing(3);
}

.landing-page__section--border,
.landing-page__section--mobile-border {
  border-top: 1px solid govuk-colour('mid-grey', $legacy: 'grey-2');
}

.landing-page__section--mobile-border {
  @include govuk-media-query($from: desktop) {
    border-top: none;
  }
}

.landing-page__section-desc {
  margin-bottom: govuk-spacing(6);
}

.landing-page__buckets {
  padding-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(6);
}

.landing-page__section {
  margin-bottom: govuk-spacing(8);
}

.landing-page__email-wrapper {
  margin-bottom: govuk-spacing(7);
}
