
$red: #ff003b;
$dark-blue: #1e1348;
$dark-blue-shadow: #020659;
$transparent: rgba(0, 0, 0, 0);
$header-breakpoint: 960px;
$green: #00703c;

.landing-page__header {
  border-top: 10px solid $red;
  margin-bottom: govuk-spacing(6);

  .gem-c-translation-nav {
    width: 35%;
  }
}

.landing-page__take-action-traffic-lights {
  margin-top: govuk-spacing(6);
  text-align: center;

  @include govuk-media-query($from: tablet) {
    text-align: left;
  }
}

.landing-page__take-action-traffic-lights > li {
  margin-bottom: govuk-spacing(1);
  white-space: nowrap;
  display: inline;
  margin-right: govuk-spacing(3);
}

.landing-page__take-action-traffic-lists-icon {
  vertical-align: middle;
  margin-top: -5px;
  width: 22px;
  margin-right: 5px;

  @include govuk-media-query($from: tablet) {
    width: 28px;
  }
}

.landing-page__take-action-traffic-lists-text {
  @include govuk-font($size: 24, $weight: bold, $line-height: 1.1);
  vertical-align: middle;
}

.landing-page__share {
  @include govuk-responsive-margin(8, "top");
}

.landing-page__section {
  margin-top: govuk-spacing(4);
  @include govuk-responsive-padding(6, "top");
}

.landing-page__section--border-top {
  border-top: govuk-spacing(2) solid $dark-blue;
}

.landing-page__section--border-bottom-red {
  border-bottom: govuk-spacing(2) solid $red;
}

.landing-page__section--blue {
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
  background-color: $dark-blue;
  margin-top: 0;

  h2,
  p {
    color: govuk-colour("white");
  }

  a {
    color: govuk-colour("white");

    &:link,
    &:visited {
      color: govuk-colour("white");
    }

    &:hover {
      color: $gem-hover-dark-background;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}

.landing-page__section--light-grey {
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
  background-color: govuk-colour('light-grey');
  margin-top: 0;
}

.landing-page__guidance_subheader {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(7);
}

.landing-page__section-list-wrapper {
  margin-bottom: govuk-spacing(6);

  &:before {
    border-top: 1px solid govuk-colour("mid-grey");
    content: "";
    display: block;
    margin-right: govuk-spacing(3);
    margin-left: govuk-spacing(3);
    @include govuk-responsive-margin(6, "bottom");
  }
}

.landing-page__section-list {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(3);
  margin-left: govuk-spacing(5);
}

.landing-page__section-see-all {
  @include govuk-font(19);
  margin-top: govuk-spacing(4);
}

.landing-page__section em {
  font-weight: bold;
  font-style: normal;
}

.landing-page__buckets {
  margin-bottom: govuk-spacing(6);
}

.landing-page__divide {
  border-top: 1px solid govuk-colour("white");
  padding-top: govuk-spacing(4);
}

.landing-page__finders {
  margin-bottom: 0;
}

.landing-page__comms-video {
  @include govuk-media-query($from: "tablet") {
    position: relative;
    top: -15px;
  }
}
