// This dark grey is the background colour for the topic pages.
//
// White text on this background gives a contrast ratio of 13.35 - this meets AA
// and AAA for body and large text.
//
// The focus state's yellow gives a contrast ratio of 9.91 - this meets the AA
// requirement for active user interface components (AAA requirement is not
// defined for this).
//
// Requirements source: https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceivable/Color_contrast
$topic-page-header-background-colour: #263135;

// This isn't proper BEM - but the convention is to have the view name as the
// block part of the class name. Because we need to keep `browse` so this can
// be run as an A/B test, we need to use a different class name for each view.
.topic-page__breadcrumb-wrapper,
.topic-page__header-wrapper {
  background-color: $topic-page-header-background-colour;
}

.topic-page__breadcrumb-wrapper {
  // Setting the overflow to auto is required to prevent the breadcrumb
  // component's margin from collapsing.
  overflow: auto;

  // We want to show a constrained width blue bar _within_ the grey header.
  // But the full width layout template doesn't include the blue bar - so we
  // need to add a blue bar manually to this template.
  &:before {
    background-color: $govuk-brand-colour;
    content: "";
    display: block;
    margin: auto;
    max-width: 960px;
    height: govuk-spacing(2);
  }
}

// The header spacings are a work in progress.
.topic-page__header-wrapper {
  padding-bottom: govuk-spacing(7);

  // A tiny white seam sometimes appears, despite there being no gap between
  // this element and the previous element. This shifts the element up by a
  // pixel to prevent the seam from appearing and adds padding to reposition the
  // content.
  border-top: 1px solid $topic-page-header-background-colour;
  margin-top: -1px;

  @include govuk-media-query($from: "tablet") {
    padding-bottom: govuk-spacing(8);
    padding-top: govuk-spacing(6);
  }
}

.topic-page__heading {
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(6);
}

.topic-page__description {
  margin-bottom: govuk-spacing(2);
}

.topic-page__more-on-this-topic {
  margin-top: govuk-spacing(4);

  @include govuk-media-query($from: "tablet") {
    margin-top: govuk-spacing(7);
    margin-bottom: govuk-spacing(1);
  }
}
