// stylelint-disable max-nesting-depth
$transition-speed: .4s;

.browse {
  @include govuk-clearfix;
  position: relative;
  padding-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(6);
  }
}

.browse__link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-font(19);
  position: relative;
  display: block;
  padding: govuk-spacing(3) govuk-spacing(5) govuk-spacing(4) 0;
  color: $govuk-secondary-text-colour;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(3) govuk-spacing(6) govuk-spacing(4) govuk-spacing(3);
    @include govuk-font(16);
  }

  &:hover {
    background: govuk-colour("light-grey");
    color: $govuk-link-colour;
  }

  &:focus {
    &:hover {
      box-shadow: 0 -2px govuk-colour("light-grey"), 0 $govuk-focus-width $govuk-focus-text-colour;
      color: $govuk-text-colour;
    }
  }

  &:after {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: govuk-spacing(2);
    float: right;
    content: "\203A";
  }

  &.loading {
    cursor: default;
    background: transparent image-url("loading.gif") 95% 50% no-repeat;

    &:after {
      content: "";
    }
  }
}

// need to combine the selectors to override govuk-frontend link colour
.browse__link.browse__link--active {
  background: $govuk-brand-colour;
  color: govuk-colour("white");

  .browse__description {
    color: govuk-colour("white");
  }

  &:focus {
    background: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
  }

  &:hover {
    .browse__description {
      color: govuk-colour("white");
    }
  }

  &:focus:hover {
    .browse__description {
      color: $govuk-focus-text-colour;
    }
  }
}

.browse__normal-link {
  @include govuk-font(16, $weight: bold);
  display: block;
  padding: govuk-spacing(1) govuk-spacing(6) govuk-spacing(1) 0;
}

.browse__description {
  @include govuk-font(14);
  color: $govuk-text-colour;
  margin: 0;
  padding: 0;
}

.browse__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.browse__list-item {
  position: relative;
  padding: 0;
  margin: 0;
}

.browse__heading {
  @include govuk-font(27, $weight: bold);
  margin-bottom: govuk-spacing(2);
  margin-top: govuk-spacing(2);
  outline: none;

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: govuk-spacing(3);
  }
}

.browse__list-header {
  @include govuk-font(19, $weight: bold);
  margin: govuk-spacing(6) 0 govuk-spacing(1) 0;
}

.browse__inner {
  padding-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    border-left: 1px solid $govuk-border-colour;
    min-height: 950px;
  }
}

.browse__inner--curated {
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }

  @include govuk-media-query($until: desktop) {
    .browse__section-pane & {
      padding-left: 0;
    }
  }
}

.browse__title {
  @include govuk-font(16, $weight: bold);
  margin: 0;
}

.browse__inner--alphabetical {
  @include govuk-media-query($from: desktop) {
    padding-left: 96px;
  }
}

.browse__sort-order {
  @include govuk-font(27, $weight: bold);
  float: left;
  width: 75px;
  padding: 11px 0 govuk-spacing(3) govuk-spacing(3);
  margin: 0;
  margin-left: -90px;

  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

.browse__detailed-guidance {
  margin-top: govuk-spacing(6);
}

.browse__root-pane,
.browse__section-pane,
.browse__subsection-pane {
  @include govuk-media-query($from: tablet) {
    float: right;
    min-height: 3px;
  }
}

.browse__root-pane {
  @include govuk-media-query($from: desktop) {
    width: 25%;
  }
}

.browse__section-pane {
  z-index: 2;
  background: govuk-colour("white");
  position: relative;
  transition: width $transition-speed, margin-left $transition-speed;

  @include govuk-media-query($from: tablet) {
    width: 35%;
  }

  .browse__link {
    text-decoration: none;

    .browse__title {
      @include govuk-link-decoration;
    }

    &:hover {
      .browse__title {
        @include govuk-link-hover-decoration;
      }
    }
  }

  .browse__heading {
    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(3);
    }
  }
}

.browse__subsection-pane {
  opacity: 0;
  transition-property: width, opacity, margin-right;
  transition-delay: 0s, 0s, 0s;
  transition-duration: $transition-speed, 0s, $transition-speed;
  height: 0;
  overflow: hidden;

  @include govuk-media-query($from: tablet) {
    width: 27%;
    margin-right: 13%;
    height: auto;
  }

  .browse__inner--alphabetical {
    @include govuk-media-query($from: tablet) {
      padding-left: 100px;
    }

    .browse__normal-link {
      padding: govuk-spacing(2) govuk-spacing(6) govuk-spacing(2) 0;
    }
  }

  .browse__sort-order {
    margin-left: -100px;

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }
}

.browse--two-columns {
  .browse__root-pane {
    display: none;

    @include govuk-media-query($from: tablet) {
      display: block;
      width: 25%;
      margin-right: 0;
    }
  }

  .browse__subsection-pane {
    opacity: 0;
  }
}

.browse--three-columns {
  .browse__root-pane {
    display: none;

    @include govuk-media-query($from: tablet) {
      display: block;
      width: 25%;
      margin-right: 0;
    }
  }

  .browse__section-pane {
    display: none; // hide on mobile

    @include govuk-media-query($from: tablet) {
      display: block;
      margin-right: 0;
      margin-left: -13%;
      width: 25%;

      .browse__inner {
        padding-left: 0;
      }
    }

    .browse__sort-order {
      display: none;
    }
  }

  .browse__subsection-pane {
    transition-delay: 0s, $transition-speed, 0s;
    opacity: 1;
    height: auto;

    @include govuk-media-query($from: tablet) {
      width: 50%;
      margin-right: 13%;
    }
  }

  .browse__link--inactive,
  .browse__description {
    color: $govuk-secondary-text-colour;
  }

  .browse__link--inactive:hover {
    color: $govuk-brand-colour;

    .browse__description {
      color: $govuk-text-colour;
    }
  }

  .browse__link--inactive:focus {
    .browse__description {
      color: $govuk-link-active-colour;
    }
  }
}
