main.browse {
  .browse-panes {
    @extend %contain-floats;
    @include inner-block;
    padding-bottom: 30px;
    position: relative;

    @include media(tablet){
      padding-top: 30px;
    }

    &.section {
      #root {
        display: none; // hide on mobile

        @include media(tablet){
          display: block;
          float: right;
          width: 25%;
        }
      }
      #section {
        @include media(tablet){
          float: right;
          width: 30%;
          margin-right: 45%;
        }
        @include media(desktop){
          width: 35%;
          margin-right: 40%;
        }
      }
    }

    &.subsection {
      #root, #section {
        display: none; // hide on mobile

        @include media(tablet){
          display: block;
          float: right;
          width: 25%;
        }

        color: $secondary-text-colour;
        a, p {
          color: $secondary-text-colour;
        }
      }
      #section {
        @include media(tablet){
          margin-left: -18%;
          width: 30%;
        }
        @include media(desktop){
          margin-left: -13%;
          width: 25%;
        }
      }
      #subsection {
        @include media(tablet){
          float: right;
          width: 50%;
          margin-right: 13%;
        }
      }
    }

    .pane-inner {
      padding-bottom: $gutter;

      @include media(tablet){
        border-left: 1px solid $border-colour;
        min-height: 950px;
      }
      @include media(desktop){
        min-height:700px;
      }
    }

    h1, h2 {
      @include bold-27;
      margin-bottom: $gutter-one-third;
      margin-top: $gutter-one-third;
      outline: none;

      @include media(tablet){
        margin-top: 0;
        margin-bottom: 15px;
      }
    }



    #root, #section {
      min-height: 20px;

      h1, h2 {
        @include media(tablet){
          padding-left: 15px;
        }
      }
      .sort-order {
        display: none;
      }
      ul {
        li {
          list-style: none;
          position: relative;
        }

        a {
          position: relative;
          display: block;
          @include core-19;
          text-decoration: none;
          padding: 12px 25px 8px 0;

          @include media(tablet){
            padding: 12px 30px 8px 15px;
            @include core-16;
          }

          &:hover {
            background: $panel-colour;
            color: $link-colour;
          }

          &:after {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 10px;
            float: right;
            content:"\203A";
          }

          &.loading {
            cursor: default;
            background: transparent image-url("loading.gif") 95% 50% no-repeat;

            &:after {
              content: "";
            }
          }

          h3 {
            font-weight: bold;
          }

          p {
            color: $text-colour;
            @include core-14;
          }
        }

        li.active a {
          background: $link-colour;
          color: $white;

          &:hover {
            background: $link-colour;
          }
          p {
            color: $white;
          }
        }
      }
    }
    #section {
      z-index: 2;
      background: $white;
      position: relative;

      @include media(desktop){
        &.with-sort {
          .pane-inner {
            padding-left: 96px;
          }
          .sort-order {
            @include bold-27;
            float: left;
            display: block;
            width: 75px;
            margin-left: -90px;
            padding: 11px 0 15px 15px;
          }
        }
      }
    }
    #subsection {
      @include media(tablet) {
        .pane-inner.a-to-z {
          padding-left: 100px;
        }

        .pane-inner.curated-list {
          padding-left: 30px;
        }
      }
      h1 {
        padding-left: 0;
      }

      .list-header {
        @include bold-19;
        margin: 30px 0 0 0;
      }
      .sort-order {
        display: none;
        @include media(tablet){
          display: block;
          @include bold-27;
          float: left;
          width: 75px;
          margin-left: -100px;
          padding: 11px 0 15px 15px;
        }
      }
      ul {
        padding: 0;
        list-style: none;

        li {
          padding: 0;
          margin: 0;

          a {
            @include bold-19;
            display: block;
            text-decoration: none;
            padding: 10px 30px 10px 0;
          }
        }
      }
      .detailed-guidance {
        margin-top: $gutter;
      }
    }
  }
}
