// scss-lint:disable NestingDepth
.browse {
  .browse-panes {
    @include govuk-clearfix;
    padding-bottom: govuk-spacing(6);
    position: relative;

    @include govuk-media-query($from: tablet) {
      padding-top: govuk-spacing(6);
    }

    &.section {
      .root-pane {
        display: none; // hide on mobile

        @include govuk-media-query($from: tablet) {
          display: block;
          float: right;
          width: 25%;
        }
      }

      .section-pane {
        @include govuk-media-query($from: tablet) {
          float: right;
          width: 30%;
          margin-right: 45%;
        }

        @include govuk-media-query($from: desktop) {
          width: 35%;
          margin-right: 40%;
        }
      }
    }

    &.subsection {
      .root-pane,
      .section-pane {
        display: none; // hide on mobile

        @include govuk-media-query($from: tablet) {
          display: block;
          float: right;
          width: 25%;
        }

        a,
        p {
          color: $govuk-secondary-text-colour;
        }
      }

      .section-pane {
        @include govuk-media-query($from: tablet) {
          margin-left: -18%;
          width: 30%;
        }

        @include govuk-media-query($from: desktop) {
          margin-left: -13%;
          width: 25%;
        }
      }

      .subsection-pane {
        @include govuk-media-query($from: tablet) {
          float: right;
          width: 50%;
          margin-right: 13%;
        }
      }
    }

    .pane-inner {
      padding-bottom: govuk-spacing(6);

      @include govuk-media-query($from: tablet) {
        border-left: 1px solid $govuk-border-colour;
        min-height: 950px;
      }

      @include govuk-media-query($from: desktop) {
        min-height: 700px;
      }
    }

    h1,
    h2 {
      @include govuk-font(27, $weight: bold);
      margin-bottom: govuk-spacing(2);
      margin-top: govuk-spacing(2);
      outline: none;

      @include govuk-media-query($from: tablet) {
        margin-top: 0;
        margin-bottom: govuk-spacing(3);
      }
    }

    .root-pane,
    .section-pane {
      min-height: 20px;

      h1,
      h2 {
        @include govuk-media-query($from: tablet) {
          padding-left: govuk-spacing(3);
        }
      }

      .sort-order {
        display: none;
      }

      ul li {
        list-style: none;
        position: relative;
        margin-top: 4px;
      }

      ul a {
        position: relative;
        display: block;
        @include govuk-font(19);
        text-decoration: none;
        padding: 12px 25px 8px 0;

        @include govuk-media-query($from: tablet) {
          padding: 12px govuk-spacing(6) 8px govuk-spacing(3);
          @include govuk-font(16);
        }

        &:hover {
          background: govuk-colour("light-grey");
          color: $govuk-link-colour;

          p {
            color: $govuk-text-colour;
          }
        }

        &:focus {
          color: $govuk-text-colour;

          p {
            color: $govuk-text-colour;
          }
        }

        &:after {
          position: absolute;
          top: 50%;
          margin-top: -8px;
          right: govuk-spacing(2);
          float: right;
          content: "\203A";
        }

        &.loading {
          cursor: default;
          background: transparent image-url("loading.gif") 95% 50% no-repeat;

          &:after {
            content: "";
          }
        }

        h3 {
          font-weight: bold;
        }

        p {
          color: $govuk-text-colour;
          @include govuk-font(14);
        }
      }

      ul .active a {
        background: $govuk-brand-colour;
        color: govuk-colour("white");

        p {
          color: govuk-colour("white");
        }

        &:focus {
          background: $govuk-focus-colour;
          color: $govuk-focus-text-colour;

          p {
          color: $govuk-focus-text-colour;
          }
        }

      }
    }

    .section-pane {
      z-index: 2;
      background: govuk-colour("white");
      position: relative;

      @include govuk-media-query($from: desktop) {
        &.with-sort {
          .pane-inner {
            padding-left: govuk-spacing(6);
          }

          .pane-inner.alphabetical {
            padding-left: 96px;
          }

          .sort-order {
            @include govuk-font(27, $weight: bold);
            float: left;
            display: block;
            width: 75px;
            margin-left: -90px;
            padding: 11px 0 govuk-spacing(3) govuk-spacing(3);
          }
        }
      }
    }

    .subsection-pane {
      @include govuk-media-query($from: tablet) {
        .pane-inner {
          &.a-to-z {
            padding-left: 100px;
          }

          &.curated-list {
            padding-left: govuk-spacing(6);
          }
        }
      }

      h1 {
        padding-left: 0;
      }

      .list-header {
        @include govuk-font(19, $weight: bold);
        margin: govuk-spacing(6) 0 0 0;
      }

      .curated-list {
        .list-header {
          margin: govuk-spacing(6) 0 govuk-spacing(1) 0;
        }
      }

      .sort-order {
        display: none;

        @include govuk-media-query($from: tablet) {
          display: block;
          @include govuk-font(27, $weight: bold);
          float: left;
          width: 75px;
          margin-left: -100px;
          padding: 11px 0 govuk-spacing(3) govuk-spacing(3);
        }
      }

      ul {
        padding: 0;
        list-style: none;
      }

      ul li {
        padding: 0;
        margin: 0;
      }

      ul li a {
        @include govuk-font(19, $weight: bold);
        display: block;
        padding: govuk-spacing(2) govuk-spacing(6) govuk-spacing(2) 0;
      }

      .curated-list {
        ul li a {
          padding: govuk-spacing(1) govuk-spacing(6) govuk-spacing(1) 0;
        }
      }

      .detailed-guidance {
        margin-top: govuk-spacing(6);
      }
    }
  }
}
// scss-lint:enable NestingDepth
