.campaign__taxon {
  border-top: 2px solid $govuk-blue;

  @include media(tablet) {
    &--variable-border {
      border: none;
    }
  }
}

.campaign__taxon--b {
  border: 0;
}

.campaign__description {
  @include core-19;
  margin-bottom: $gutter-one-third;
}

.campaign__no-content {
  @include core-19;
  margin-bottom: $gutter * 1.5;
}

.campaign__see-more {
  display: block;
  margin-bottom: $gutter * 1.5;
  padding-top: $gutter-one-third;
}

.campaign__more-guidance {
  @include core-19;
}

.gem-c-contents-list, .gem-c-contents-list__list-item {
  @include core-19;
}
