.campaign__taxon {
  border-top: 2px solid $govuk-brand-colour;
  margin-bottom: govuk-spacing(6) * 2;

  @include govuk-media-query($from: tablet) {
    &--variable-border {
      border: none;
    }
  }
}

.campaign__taxon-title {
  @include govuk-font(24, $weight: bold);
  padding: govuk-spacing(3) 0;
}

.campaign__description {
  @include govuk-font(19);
}

.campaign__other-campaigns {
  border-top: 2px solid $govuk-brand-colour;
  padding-top: govuk-spacing(4);
}

.campaign__other-campaigns-list {
  padding-left: govuk-spacing(4);
}

.campaign__other-campaigns-item {
  @include govuk-font(19);
  margin-bottom: 5px;
}

.campaign__other-campaigns-title {
  @include govuk-font(24, $weight: bold);
  padding: govuk-spacing(3) 0;
  border-top: 2px solid $govuk-brand-colour;

  @include govuk-media-query($from: tablet) {
    border: none;
  }
}

.campaign__other-campaigns-description {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(2);
}

.campaign__other-topics-list {
  list-style-type: none;
  margin-bottom: 45px;
}

.campaign__other-topics-item {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(2);
}
