$covid-yellow: #ffe114;
$covid-grey: #272828;

.covid__page {
  .govuk-grid-column-one-third,
  .govuk-grid-column-two-thirds {
    @media (max-width: 950px) {
      width: 100%;
    }
  }
}

.covid__page-title {
  @include govuk-font(48, $weight: bold);
  margin-bottom: govuk-spacing(5);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(4);
    margin-bottom: 45px;
  }
}

.covid__page-header {
  margin-bottom: govuk-spacing(8);
  border-top: solid govuk-spacing(2) $covid-yellow;
  background-color: govuk-colour("black");
  color: govuk-colour("white");
}

.covid__page-header--business {
  background-color: $covid-grey;
}

.covid__page-header--hub {
  background-color: $covid-grey;
}

.covid__page-header-light {
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(2);
  background: $covid-grey;

  @include govuk-media-query($from: tablet) {
    padding-top: 45px;
    padding-bottom: govuk-spacing(3);
  }
}

.covid__business-list-wrapper {
  margin-bottom: 45px;
}

.covid__logo-wrapper {
  margin-top: govuk-spacing(5);
  margin-bottom: govuk-spacing(8);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6);
  }
}

.covid__logos {
  max-width: 100%;
  height: auto;

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(2);
    max-height: 38px; // the SVG canvas height is too big on IE
  }
}

.covid__page-header-light {
  .covid__page-header-link {
    font-weight: normal;

    &:link,
    &:visited {
      color: govuk-colour("white");
    }
    &:focus {
      color: $govuk-text-colour;
    }
  }
}

.covid__highlight-link {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 50px;
  min-height: 45px;
  max-width: 460px;
  background-image: image-url("covid-arrow.png"); // PNG fallback for SVG
  background-image: image-url("covid-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 37px auto;

  @include govuk-media-query($until: tablet) {
    max-width: 410px;
    margin-bottom: govuk-spacing(8);
  }

  @include govuk-media-query($from: desktop) {
    // IE10/11 specific - vertical align in flexbox is ignored
    // unless an explicit height is set
    @media screen and (min-width:0\0) {
      height: 45px;
    }
  }

  .covid__page-header-link {
    @include govuk-font(19, $weight: bold);
  }
}

.covid__list {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(3);
  list-style-type: none;

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(4);
  }
}

.covid__list--header {
  padding-left: govuk-spacing(4);
  list-style-type: disc;
  color: govuk-colour("white");
}

.covid__list--accordion {
  margin-bottom: govuk-spacing(6);

  .covid__list-item {
    margin-bottom: govuk-spacing(4);

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(3);
    }
  }
}

.covid__list-item {
  margin-bottom: govuk-spacing(2);
}

.covid__list ~ .covid__accordion-heading {
  margin-top: govuk-spacing(7);
}

.covid__video {
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(8);
}

.covid__inverse {
  color: govuk-colour("white");
}

.covid__accordion-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &:focus {
      text-decoration: none;
    }
  }
}

.covid__topic-wrapper {
  padding-top: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6);
  }
}

.covid__topic-list-item {
  @include govuk-media-query($until: desktop) {
    padding: govuk-spacing(1) 0;
  }
}

.covid__topic-list-link {
  @include govuk-font(19, $weight: bold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &:focus {
      text-decoration: none;
    }
  }
}

.covid__page-guidance {
  padding: govuk-spacing(8) 0 govuk-spacing(7) 0;
  background-color: govuk-colour("light-grey");
  color: govuk-colour("black");
}

.covid__page-guidance-link {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding-left: 35px;
  min-height: 30px;
  background-image: image-url("corona-arrow-mini-dark.png"); // PNG fallback for SVG
  background-image: image-url("corona-arrow-mini-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 25px auto;
  text-decoration: none;

  @include govuk-font(19, $weight: bold);

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    // IE10/11 specific - vertical align in flexbox is ignored
    // unless an explicit height is set
    @media screen and (min-width:0\0) {
      height: 45px;
    }
  }
}
