@import "govuk_publishing_components/individual_component_support";

$covid-grey: #272828;
$covid-yellow: #fff500;
$c19-landing-page-header-background: govuk-colour("blue");

.covid__page {
  .govuk-grid-column-one-third,
  .govuk-grid-column-two-thirds {
    @media (max-width: 950px) { // stylelint-disable-line media-feature-range-notation
      width: 100%;
    }
  }
}

.covid__page-header {
  margin-bottom: govuk-spacing(8);
  border-top: solid govuk-spacing(2) $covid-yellow;
  background-color: $c19-landing-page-header-background;
  color: govuk-colour("white");
}

.covid__page-header--business {
  background-color: $c19-landing-page-header-background;
}

.covid__page-header-list {
  .govuk-list {
    color: govuk-colour("white");
  }
}

.covid__page-header--landing-page {
  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(3);
  }
}

.covid__page-header-content-section {
  padding: govuk-spacing(5) 0;

  @include govuk-media-query($from: tablet) {
    padding: 45px 0 40px;
  }

  .gem-c-govspeak {
    li {
      margin: 0 0 govuk-spacing(2);
    }
  }
}

.covid__action-link-wrapper {
  margin-top: govuk-spacing(5);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(3);
  }
}

.covid__list {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(3);
  list-style-type: none;

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(4);
  }
}

.covid__list-item-description {
  @include govuk-font(19);
  padding-left: govuk-spacing(6);
}

.covid__list-item {
  margin-bottom: govuk-spacing(2);
}

.covid__list ~ .covid__accordion-heading {
  margin-top: govuk-spacing(7);
}

.covid__inverse {
  color: govuk-colour("white");
}

.covid__section {
  padding-top: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
  border-top: solid 2px govuk-colour("black");

  @include govuk-media-query($from: tablet) {
    padding-bottom: govuk-spacing(9);
  }
}

.covid__section--first {
  padding-top: govuk-spacing(4);
  border: 0;

  @include govuk-media-query($from: tablet) {
    padding-top: 0;
  }
}

.covid__topic-wrapper {
  padding-top: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6);
  }
}

.covid__topic-list-item {
  @include govuk-media-query($until: desktop) {
    padding: govuk-spacing(1) 0;
  }
}

.covid__topic-list-link {
  @include govuk-font(19, $weight: bold);
}

.covid__page-guidance {
  padding: govuk-spacing(8) 0 govuk-spacing(9) 0;
  background-color: govuk-colour("light-grey");
  color: govuk-colour("black");
}

.covid__alert-notice .covid__alert-notice-body {
  @include govuk-media-query($from: desktop) {
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(2);
  }
}
