
.covid__page {
  .govuk-grid-column-one-third,
  .govuk-grid-column-two-thirds {
    @media (max-width: 950px) {
      width: 100%;
    }
  }
}

.covid__page-title {
  @include govuk-font(48, $weight: bold);
  margin-bottom: govuk-spacing(5);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(4);
    margin-bottom: 45px;
  }
}

.covid__page-header {
  margin-bottom: govuk-spacing(8);
  border-top: solid govuk-spacing(2) $covid-yellow;
  background-color: govuk-colour("black");
  color: govuk-colour("white");
}

.covid__page-header--business {
  background-color: $covid-grey;
}

.covid__page-header--hub {
  background-color: $covid-grey;
}

.covid__page-header--landing-page {
  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(3);
  }

}

.covid__page-header-light {
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(2);
  background: $covid-grey;

  @include govuk-media-query($from: tablet) {
    padding-top: 45px;
    padding-bottom: govuk-spacing(3);
  }
}

.covid__page-header-announcement {
  margin-bottom: govuk-spacing(7);

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(3);
  }

  .govuk-body {
    margin-bottom: govuk-spacing(2);
  }

  .covid__announcement-published-text {
    @include govuk-font(16);
  }
}

.covid__business-list-wrapper {
  margin-bottom: 45px;
}

.covid__logo-wrapper {
  margin-top: govuk-spacing(5);
  margin-bottom: govuk-spacing(8);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6);
  }
}

.covid__logos {
  max-width: 100%;
  height: auto;

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(2);
    max-height: 38px; // the SVG canvas height is too big on IE
  }
}

.covid__page-header {
  .covid__page-header-link {
    font-weight: normal;

    &:link,
    &:visited {
      color: govuk-colour("white");
    }
    &:focus {
      color: $govuk-text-colour;
    }
  }
}

.covid__find-help {
  @include govuk-responsive-margin(9, "bottom");
  background-color: $covid-grey;
  padding: govuk-spacing(6) govuk-spacing(5);
}

.covid__list {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(3);
  list-style-type: none;

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(4);
  }
}

.covid__list--header {
  padding-left: govuk-spacing(4);
  list-style-type: disc;
  color: govuk-colour("white");
}

.covid__list--accordion {
  margin-bottom: govuk-spacing(6);

  .covid__list-item {
    margin-bottom: govuk-spacing(4);

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(3);
    }
  }
}

.covid__list-item {
  margin-bottom: govuk-spacing(2);
}

.covid__video-placeholder {
  position: relative;
  padding: 110px 0;
  border: solid 2px govuk-colour("white");
  text-align: center;

  .govuk-body {
    margin: 0;
  }

  .covid__bold {
    font-weight: bold;
  }
}

.covid__video-logo {
  @include govuk-font(19, $weight: bold, $line-height: 1);
  position: absolute;
  top: 0;
  left: 0;
  padding: govuk-spacing(1);
  padding-top: govuk-spacing(2);
  padding-left: govuk-spacing(5);
  padding-right: govuk-spacing(2);
  margin: govuk-spacing(3);
  border: solid 1px govuk-colour("white");
  color: govuk-colour("white");
  text-transform: uppercase;

  &:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 8px;
    width: 12px;
    height: 12px;
    background: govuk-colour("red");
    border-radius: 100%;
  }
}

.covid__list ~ .covid__accordion-heading {
  margin-top: govuk-spacing(7);
}

.covid__video {
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(8);
}

.covid__inverse {
  color: govuk-colour("white");
}

.covid__accordion-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &:focus {
      text-decoration: none;
    }
  }
}

.covid__topic-wrapper {
  padding-top: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6);
  }
}

.covid__topic-list-item {
  @include govuk-media-query($until: desktop) {
    padding: govuk-spacing(1) 0;
  }
}

.covid__topic-list-link {
  @include govuk-font(19, $weight: bold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &:focus {
      text-decoration: none;
    }
  }
}

.covid__page-guidance {
  padding: govuk-spacing(8) 0 govuk-spacing(7) 0;
  background-color: govuk-colour("light-grey");
  color: govuk-colour("black");
}
