$red: #ff003b;
$dark-grey: #282828;
$header-breakpoint: 960px;
$transparent: rgba(0, 0, 0, 0);

.dit-landing-page__kbm-logo {
  height: 50px;
  max-height: 50px;
  margin-top: govuk-spacing(3);

  @include govuk-media-query($from: desktop) {
    max-height: 70px;
    height: 70px;
    margin-top: 0;
  }
}

.dit-landing-page__header {
  padding-bottom: govuk-spacing(6);
  padding-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(6);
  background-color: govuk-colour("white");
}

.dit-landing-page__header--with-bg-image {
  background-color: govuk-colour("white");
  border-top: govuk-spacing(2) solid $red;

  @include govuk-media-query($from: $header-breakpoint) {
    background-image: image-url('DIT-banner@2x.jpg');
    background-size: cover;
    background-position: right;
  }

  // HIDE BACKGROUND IMAGE ON IE

  // IE 6, 7, 8
  @media \0screen\,screen\9 { // stylelint-disable-line media-query-list-comma-space-after
    background-image: none;
  }

  // IE 9
  @media screen and (min-width:0\0) and (min-resolution: .001dpcm) { // stylelint-disable-line media-feature-colon-space-after
    background-image: none;
  }
}

.dit-landing-page_header-text-container {
  background-color: govuk-colour("white");
  box-shadow: 15px 0 0 0 govuk-colour("white"), 4px 0 0 0 govuk-colour("white"), 3px 0 0 0 govuk-colour("white"), 1px 0 0 0 govuk-colour("white");
  padding-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding-bottom: govuk-spacing(9);
  }
}

.dit-landing-page_header-text-container--no-translation-nav {
  padding-top: govuk-spacing(9);
  padding-bottom: govuk-spacing(9);
}

.dit-landing-page__header-text-block {
  @include govuk-media-query($from: $header-breakpoint) {
    background: govuk-colour("white");
    background: -webkit-linear-gradient(90deg, govuk-colour("white") 50%, $transparent 50%);
    background: linear-gradient(90deg, govuk-colour("white") 50%, $transparent 50%);
  }
}

.dit-landing-page__intro {
  p {
    @include govuk-font($size: 24);
  }
}

.dit-landing-page__page_title {
  @include govuk-font($size: 48, $weight: bold);
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(6);
}

.dit-landing-page__guidance-title {
  @include govuk-font($size: 36, $weight: bold);
  margin-bottom: govuk-spacing(8);
}

.dit-landing-page__guidance-item {
  border-top: 1px solid $govuk-border-colour;
  margin: govuk-spacing(6) 0;
  padding: govuk-spacing(6) 0 0;

  .govuk-link {
    @include govuk-font($size: 19, $weight: bold);
  }
}

.dit-landing-page__section {
  margin-top: govuk-spacing(4);
  @include govuk-responsive-padding(6, "top");
}

.dit-landing-page__section--light-grey {
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
  background-color: govuk-colour('light-grey');
  margin-top: 0;
}

.dit-landing-page__section--border-bottom-red {
  border-bottom: govuk-spacing(2) solid $red;
}

.dit-landing-page__section--dark-grey {
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
  background-color: $dark-grey;
  margin-top: 0;

  h2,
  p {
    color: govuk-colour("white");
  }

  .govuk-link {
    color: govuk-colour("white");

    &:hover {
      color: $gem-hover-dark-background;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}

.dit-landing-page__training-image {
  max-width: 100%;
}

.govuk-table__header {
  color: govuk-colour("white");
}

.govuk-table__cell {
  color: govuk-colour("white");
}
