$dark-red: #C21D26;
$red: #FF003B;
$dark-grey: #282828;

.dit-landing-page__kbm-logo {
  max-height: 70px;
  margin-top: govuk-spacing(3);

  @include govuk-media-query($from: desktop) {
    max-height: 100px;
    margin-top: 0;
  }
}

.dit-landing-page__header {
  padding-bottom: govuk-spacing(6);
  padding-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(6);
  background-color: $dark-red;
  color: govuk-colour("white");
}

.dit-landing-page__header--with-bg-image  {
  background-color: $dark-red;
  border-top: govuk-spacing(2) solid $red;

  @include govuk-media-query($from: $header-breakpoint) {
    background-image: image-url('DIT-banner@2x.jpg');
    background-size: cover;
    background-position: right;
  }

  // HIDE BACKGROUND IMAGE ON IE

  // IE 6, 7, 8
  @media \0screen\,screen\9 {
    background-image: none;
  }

  // IE 9
  @media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
    background-image: none;
  }
}

.dit-landing-page_header-text-container {
  background-color: $dark-red;
  box-shadow: 15px 0 0 0 $dark-red, 4px 0 0 0 $dark-red, 3px 0 0 0 $dark-red, 1px 0 0 0 $dark-red;
  padding-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding-bottom: govuk-spacing(9);
  }

}

.dit-landing-page_header-text-container--no-translation-nav {
  padding-top: govuk-spacing(9);
  padding-bottom: govuk-spacing(9);
}

.dit-landing-page__header-text-block {
  @include govuk-media-query($from: $header-breakpoint) {
    background: $dark-red;
    background: -webkit-linear-gradient(90deg, $dark-red 50%, $transparent 50%);
    background: linear-gradient(90deg, $dark-red 50%, $transparent 50%);
  }
}

.dit-landing-page__intro {
  p {
    @include govuk-font($size: 24);
    color: govuk-colour("white");
  }

  a:link,
  a:visited {
    font-weight: bold;
    color: govuk-colour("white");
  }

  a:focus {
    color: govuk-colour("black");
  }
}

.dit-landing-page__page_title {
  @include govuk-font($size: 48, $weight: bold);
  color: govuk-colour("white");
  margin-top: govuk-spacing(7);
  margin-bottom: govuk-spacing(4);
}

.dit-landing-page__section--dark-grey {
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
  background-color: $dark-grey;
  margin-top: 0;

  h2,
  p {
    color: govuk-colour("white");
  }

  .govuk-link {
    color: govuk-colour("white");

    &:hover {
      color: $gem-hover-dark-background;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}

.dit-landing-page__training-image {
  max-width: 100%;
}

.dit-landing-page__guidance-heading {
  @extend %govuk-heading-s;

  margin-bottom: govuk-spacing(2);
}

.govuk-table__header {
  color: govuk-colour("white");
}

.govuk-table__cell {
  color: govuk-colour("white");
}
