.changed-documents {
  list-style: none;
  padding-top: 10px;

  a {
    text-decoration: none;
  }

  p,
  time {
    @include core-14;
  }

  time {
    display: block;
  }

  .updated-at {
    margin-bottom: 10px;
  }
  .updated-at:last-child {
    margin-bottom: 0;
  }

  li {
    padding-bottom: 10px;
    border-bottom: 1px solid $border-colour;
    margin: 10px 0;
  }
  li:last-child {
    border-bottom: 0;
  }
}
