.ministers-index {
  h2 {
    border-bottom: 5px solid #005ea5;
  }

  .gem-c-notice p {
    margin-top: 0;
  }
}

.clear-column {
  clear: both;
}

.footnotes {
  color: #505a5f;
  display: block;
}
