.organisation__brand-border-top {
  border-top-width: 5px;
  border-top-style: solid;
}

.organisation__section-wrap {
  word-wrap: break-word;
}

// This is only used to apply to promotional orgs where the border colour is always black
// regardless of the link colour. This can be removed if we add the black border
// colour as branding to the organisation.
.organisation__section-border-top {
  border-top: 5px solid govuk-colour("black");
  padding-top: govuk-spacing(3);
}

.organisation__corporate-information {
  .organisation__float-section {
    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }

  .organisation__secondary-corporate-information {
    @include govuk-font(16);

    a:focus {
      @include govuk-focused-text;
    }
  }
}

.organisation__promotions {
  @include govuk-media-query($from: tablet) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -(govuk-spacing(3));
    margin-right: -(govuk-spacing(3));

    .column-1 {
      padding: 0 govuk-spacing(3);
      width: calc(100% / 3 - 30px);
    }

    .column-2 {
      width: 50%;
    }

    .column-3 {
      padding: 0 govuk-spacing(3);
      width: 100%;
    }
  }
}

.organisation__contact-section {
  word-wrap: break-word;

  .organisation__address {
    font-style: normal;
  }

  .organisation__contact-number {
    margin-bottom: govuk-spacing(2);
  }
}

.organisation__parent-organisations {
  @include govuk-font(16);
  margin-top: govuk-spacing(3);
}

.organisation__contact-section--border-top {
  border-top: 1px solid govuk-colour("mid-grey");
  margin-bottom: govuk-spacing(3);
}

.organisation__margin-bottom {
  margin-bottom: govuk-spacing(6);
}

.organisation__supergroup--margin-bottom {
  margin-bottom: govuk-spacing(3);
}

.organisation__no10-banner {
  @include govuk-font(19);
  padding-top: 140px;
  background-image: image-url('prime-ministers-office-header.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
}
