.organisations {
  .organisations-list__section {
    margin-bottom: govuk-spacing(6) * 2;
  }

  .organisations-list__item {
    list-style-type: none;
    margin-bottom: govuk-spacing(3);
    border-bottom: 1px solid govuk-colour("mid-grey");

    h3 {
      margin: 0;
    }
  }

  .organisations-list__section.js-hidden,
  .organisations-list__item.js-hidden {
    display: none;
  }

  .organisations-list__without-number {
    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }
}

.filter-organisations-list__form {
  display: none;
}

.filter-organisations-list__form--active {
  display: block;
}

.new-org-header-image-card {
  display: none;
  @include govuk-media-query($from: tablet) {
    // Push image down for visual overlapping effect
    top: 50px;
  }
  position: relative;
}

.new-org-header-image-card .gem-c-image-card__text-wrapper {
  @include govuk-media-query($from: tablet) {
    // Ensure that there's sufficient grey background behind the text
    padding-bottom: 70px;
  }

  @include govuk-media-query($until: tablet) {
    // Position the image over the white background container and keep it contained within the text area
    z-index: 2;
    overflow: visible;
    position: relative;

    // Create a white background container that is the height of the text and width of the whole viewport
    &:after {
      content: "";
      background-color: #ffffff;
      z-index: -1;
      height: 100%;
      width: auto;
      position: absolute;
      left: -15px;
      right: -15px;
      // Show the white container behind the image above
      top: -70px;
      padding-bottom: 70px;
    }
  }
}

.new-org-header-image-card .gem-c-image-card__image-wrapper {
  // As the image has a known height, the dark background colour that extends below the text can at this viewport width start to
  // approach the bottom of the image (depending on the length of the text) and no longer look visually correct. For this reason
  // extend the container so that the background colour starts below the image.
  ///
  /// Remove the fix at wider viewports where text is less likely to extend to the bottom of the image (unless the text was very
  /// long, which we're purposefully not building for at this point) to create the overhanging effect (if the text was too long,
  /// at certain viewport widths the image would approach the bottom of the background colour so the overhanging effect wouldn't
  /// look correct, but the text would still remain legible against the dark background).
  @media (min-width: 660px) and (max-width: 860px) {
    margin-bottom: 90px;
  }

  @include govuk-media-query($until: tablet) {
    // Position the image over the white background container
    z-index: 2;
  }
}

// Todo: use a custom class
.browse__header-wrapper {
  background: 0;
  padding-bottom: 0;
  margin-bottom: 40px;
  // From here on the image has the overhanging effect so push the content below down to leave space for it
  @media (min-width: 861px) {
    margin-bottom: 100px;
  }

  .gem-c-image-card {
    margin-bottom: 0;
  }
}

.test-overlay {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    vertical-align: top;
    max-width: 100%;
  }

  &:before {
    content: "The Prime Minister's Office";
    font-size: 36px;
    color: white;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 1);
    opacity: 0.6;
    z-index: 1;
  }
}