.organisations {
  .organisations-list__section {
    margin-bottom: govuk-spacing(6) * 2;
  }

  .organisations-list__item {
    list-style-type: none;
    margin-bottom: govuk-spacing(3);
    border-bottom: 1px solid govuk-colour("mid-grey");

    h3 {
      margin: 0;
    }
  }

  .organisations-list__section.js-hidden,
  .organisations-list__item.js-hidden {
    display: none;
  }

  .organisations-list__without-number {
    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }
}

.filter-organisations-list__form {
  display: none;
}

.filter-organisations-list__form--active {
  display: block;
}
