.organisations {
  .organisations-list__section {
    margin-bottom: govuk-spacing(6) * 2;
  }

  .organisations__department-count-wrapper {
    @include govuk-font(80, $weight: bold);
  }

  .organisations-list__item {
    list-style-type: none;
    padding-bottom: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);
    border-bottom: 1px solid govuk-colour("mid-grey");
  }

  .organisation-list__item-title {
    @include govuk-font(19);
    margin-right: govuk-spacing(2);
  }

  .organisation-list__item-context {
    color: govuk-colour("dark-grey");
    white-space: nowrap;
  }

  .organisation-list__item-works-with {
    @include govuk-font(16);
    display: block;
    margin-top: govuk-spacing(3);
    margin-right: govuk-spacing(4);

    @include govuk-media-query($from: tablet) {
      display: inline-block;
    }
  }

  .organisation-list__works-with-toggle {
    display: none;

    .js-enabled & {
      @include govuk-font(16);
      display: inline;
    }
  }

  .organisation-list__works-with {
    background-color: govuk-colour("light-grey");
    margin-top: govuk-spacing(2);
    padding: govuk-spacing(2);
  }

  .organisation-list__works-with-title {
    font-size: 16px;
    font-weight: bold;
  }

  .organisation-list__works-with-list {
    margin-bottom: govuk-spacing(3);
  }

  .organisation-list__works-with-list-item {
    padding-bottom: 5px;
  }

  .organisations-list__without-number {
    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }
}

.filter-organisations-list__form {
  display: none;
}

.filter-organisations-list__form--active {
  display: block;
}

.js-hidden {
  display: none;
}
