.specialist-sector-browse {

  header.page-header {
    position: relative;

    div {
      padding: 20px 30px;
      margin: 0;

      @include media(mobile) {
        padding: 15px;
      }

      h1 {
        @include bold-48;
        width: 75%;
        padding: 20px 0;

        @include media(mobile) {
          width: auto;
          padding: 0 0 15px;
        }

        span {
          @include core-27($line-height: 1);
          display: block;
          margin-bottom: 0.25em;
          text-shadow: none;
          color: $secondary-text-colour;
        }
      }

      h2 {
        @include core-24;
        color: inherit;
        margin: 0;
      }

      .metadata {
        position: relative;
        @include core-14;
        @extend %contain-floats;
        padding-bottom: $gutter;

        @include media(tablet){
          float: left;
          width: $two-thirds;
        }

        dt {
          float: left;
          clear: left;
          width: auto;
          min-width: 60px;
          @include media(tablet){
            padding-right: $gutter-one-third;
          }
        }
        dd {
          float: left;
          width: 57%;
          @include media(desktop){
            width: 80%;
          }
        }
      }
    }

    .latest-subscribe {
      position: absolute;
      right: 0;
      top: 0;

      @include core-14;

      span {
        padding-right: 10px;
      }

      a.email {
        @include bold-14;
        padding-left: 28px;
        text-decoration: none;

        background: image-url('mail-icon.png') 0 40% no-repeat;
        @include device-pixel-ratio() {
          background-image: image-url('mail-icon-x2.png');
          background-size: 20px 14px;
        }
      }
    }
  }

  .browse-container {
    background-color: #fff;
    min-height: 500px;
    padding: 0 30px 45px 30px;

    h2, h3 {
      @include bold-19;
      margin-bottom: 0;
    }

    @include media(mobile) {
      padding: 0 15px 30px 15px;
      min-height: auto;
    }

    @include ie-lte(8) {
      padding: 0 3.5% 30px;
    }

    .category-description {
      margin-bottom: 45px;
      width: 65.5%;

      @include media(mobile) {
        margin-bottom: 15px;
        width: auto;
      }

      p {
        @include core-24;
        margin: 0;
      }
    }
  }

  nav {
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: auto;

    h1 {
      @include bold-24;

      margin-bottom: $gutter-one-third;

      @include media(desktop) {
        float: left;
        max-width: 12.5em;
      }
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;

      @include media(desktop){
        margin-left: 20.5em;
      }

      li {
        margin-bottom: 10px;
        list-style: none;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      li a {
        @include bold-19;
        text-decoration: none;
      }
    }
  }

  .beta-label {
    padding-bottom: 10px;
    border-bottom: 1px solid $border-colour;
    margin: 10px 30px;

    @include media(mobile) {
      margin: 5px 15px;
    }
  }

}
