.content-list__sticky {
  @include media (tablet) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}



.taxon-feedback-wrapper {
  background-color: $grey-4;
}

.taxon-page__email-link-wrapper {
  background-color: $grey-4;
  margin-top: -$gutter;
  margin-bottom: $gutter;
  border-bottom: 1px solid $border-colour;
  padding: $gutter;
}

.taxon-page__section-description {
  @include core-19;
  margin-top: $gutter-one-third;
}

.taxon-page__section-group {
  border-top: 2px solid $govuk-blue;
  margin-top: $gutter * 2;
  padding-top: $gutter-half;
}

.taxon-page__section-group:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.taxon-page__featured-item {
  @extend %contain-floats;
  margin-top: $gutter-two-thirds;

  &--single {
    min-width: 330px;
  }

  .taxon-page__featured-image {
    @include box-sizing(border-box);
    width: (1 / 3) * 100%;
    float: left;
    margin-bottom: $gutter-one-third;
    padding-right: $gutter-half;

    @include media(tablet) {
      float: none;
      margin-bottom: $gutter-one-third;
      padding-right: 0;
      width: 100%;
    }
  }
}

.taxon-page__featured-see-more {
  display: block;
  padding-top: $gutter-two-thirds;
  padding-left: $gutter-half;
  clear: both;
}

.taxon-page__see-more {
  display: block;
  margin-top: $gutter;
}

.taxon-page__show-more-toggle {
  display: none;

  .js-enabled & {
    display: block;
    margin-bottom: $gutter-two-thirds;
  }
}

.taxon-page__grid {
  background-color: $grey-4;
  padding-top: $gutter;
  margin-top: $gutter * 2;

  .taxon-page__grid-heading {
    @include bold-19;
    margin-bottom: $gutter-half;

    @include media (tablet) {
      padding-bottom: $gutter-one-third;
    }
  }

  .taxon-page__grid-wrapper {
    list-style-type: none;
    padding-bottom: $gutter-half;
    font-size: 0; // Set so li elements don't wrap unnecessarily due to white space

    .taxon-page__grid-item {
      padding-bottom: $gutter;

      @include media(tablet) {
        @include box-sizing(border-box);
        display: inline-block;
        width: 50%;
        min-height: (5 * $gutter);
        vertical-align: top;
        padding: 0 $gutter-half $gutter * 1.5 0;
      }

      @include media(desktop) {
        width: (1 / 3) * 100%;
      }
    }
  }

  .taxon-page__grid-item-description {
    @include core-19;
    margin-top: $gutter-one-third / 2;
    margin-bottom: $gutter-two-thirds;


    &:last-child {
      margin-bottom: 0;
    }
  }
}

.taxon-page__organisations {
  list-style-type: none;

  .taxon-page__organisation {
    margin-bottom: $gutter-two-thirds;
    border-bottom: 1px solid $border-colour;
    padding-bottom: $gutter-half;
  }
}

.taxon-page__sub-topic-sidebar a {
  display: block;
  text-decoration: none;
  padding-top: $gutter-one-third;
}

.taxon-page__link-list {
  list-style-type: none;
}

.taxon-page__link-list-item {
  @include core-19;
  margin-bottom: $gutter-one-third;

  @include media(tablet) {
    margin-bottom: 5px;
  }
}
