// this is a stop-gap solution, using this mixin introduces
// some duplication but it is necessary until this area has
// been fully converted to use components
@mixin taxon-element-styles {
  h2 {
    @include bold-19;
    @include media (tablet) {
      padding-bottom: $gutter-one-third;
    }
  }

  p {
    @include core-19;
    margin-top: $gutter-one-third / 2;
    margin-bottom: $gutter-two-thirds;
  }

  // this is to make links easier to use for touch users
  // but the work was never completed and there's no supporting user research
  // so it should be removed soon
  a {
    margin: -3px;
    padding: 3px;
    outline-color: transparent;
    display: block;
  }
}

.taxon-page--grid {
  .child-topics-list {
    @include taxon-element-styles;

    ol {
      list-style-type: none;
      padding-bottom: $gutter-half;
      @extend %grid-row;

      li {
        @include grid-column(1 / 3);
        padding-bottom: $gutter;

        @include media (tablet) {
          padding-bottom: $gutter * 1.5;
          min-height: (5 * $gutter);
        }
      }
    }

    p {
      margin: 5px 0 20px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .leftmost-row-cell-clear-float {
      clear: left;
    }
  }
}

.taxon-page--leaf,
.taxon-page--grid {
  .topic-header {
    @include taxon-element-styles;
  }
}

.taxon-page--accordion {
  .child-topic-contents {
    .topic-content {
      ol {
        list-style-type: none;
      }

      li {
        margin-bottom: $gutter-one-third;
      }
    }
  }

  .high-volume {
    @include taxon-element-styles;

    color: $white;
    background-color: $govuk-blue;
    padding: $gutter;
    margin-bottom: $gutter;

    ol {
      list-style-type: none;
    }

    a {
      @include core-19;
      color: $white;

      &:focus {
        color: $black; // fix accessibility issue with these white links
      }
    }
  }
}
