.taxon-page {

  h1 {
    box-sizing: border-box;
    display: block;
    min-height: 30vh;
    padding-top: 12.5vh;
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;

    +p {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 30px;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;

    margin-top: $gutter * 1.5;
    margin-bottom: $gutter;
  }

  h3 {
    font-size: 19px;
    font-weight: bold;

    padding-bottom: $gutter-one-third;
  }

  .page-header {
    min-height: 45vh;
    margin-bottom: 0;

    div {
      margin-top: 0;
      margin-bottom: 0;
    }

    .sub-heading {
      font-weight: normal;
      font-size: 24px;

      display: block;

      a {
        color: $secondary-text-colour;
        text-decoration: none;

        &:before {
          content: " ";
          background-image: image-url("back.svg");
          background-repeat: no-repeat;
          background-size: auto 18px;
          background-position: left bottom;
          display: inline-block;
          width: 20px;
          height: 1em;
        }
      }
    }
  }

  .child-topics-list {
    p {
      @include core-19;
      -webkit-font-smoothing: antialiased;
    }
    ul {
      list-style-type: none;
      @extend %grid-row;

      li {
        @include grid-column(1 / 3);
        padding-bottom: $gutter;
        min-height: (5 * $gutter);
      }

      li:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}
