@import "govuk_publishing_components/individual_component_support";

.content-list__sticky {
  @include govuk-media-query($from: tablet) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.taxon-page__breadcrumbs-wrapper {
  background-color: $govuk-blue-tint-80;
  padding: govuk-spacing(3) 0 govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding-bottom: govuk-spacing(8);
  }
}

.taxon-page__email-link-wrapper {
  background-color: govuk-colour("light-grey");
  margin-top: -(govuk-spacing(6));
  margin-bottom: govuk-spacing(6);
  border-bottom: 1px solid $govuk-border-colour;
  padding: govuk-spacing(6) 0;
}

.taxon-page__section-description {
  margin-top: govuk-spacing(2);
  @include govuk-font(19);
}

.taxon-page__section-group {
  border-top: 2px solid $govuk-brand-colour;
  margin-top: 45px;
  padding-top: govuk-spacing(3);
}

.taxon-page__section-group:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.taxon-page__featured-item {
  margin-top: govuk-spacing(4);
  @include govuk-clearfix;

  &--single {
    min-width: 330px;
  }
}

.taxon-page__featured-see-more {
  display: block;
  padding-top: govuk-spacing(4);
  padding-left: govuk-spacing(3);
  clear: both;
}

.taxon-page__show-more-toggle {
  display: none;

  .govuk-frontend-supported & {
    display: block;
    margin-bottom: govuk-spacing(4);
  }
}

.taxon-page__organisations {
  margin-bottom: 35px;
  list-style-type: none;

  .taxon-page__organisation {
    margin-bottom: govuk-spacing(4);
    border-bottom: 1px solid $govuk-border-colour;
    padding-bottom: govuk-spacing(3);
  }
}

.taxon-page__more-organisations {
  &.js-hidden {
    display: none;
  }
}

.taxon-page__sub-topic-sidebar a {
  display: block;
  text-decoration: none;
  padding-top: govuk-spacing(2);
}

.taxon-page__link-list {
  list-style-type: none;
}

.taxon-page__link-list-item {
  margin-bottom: govuk-spacing(2);
  @include govuk-font(19);

  @include govuk-media-query($from: tablet) {
    margin-bottom: 5px;
  }
}
