.taxon-feedback-wrapper {
  background-color: $grey-4;
}

.taxon-page__section-heading {
  @include bold-27;
}

.taxon-page__grid-heading {
  margin-bottom: $gutter-half;
}

.taxon-page__email-link-wrapper {
  background-color: $grey-4;
  margin-top: -$gutter;
  margin-bottom: $gutter;
  border-bottom: 1px solid $border-colour;
  padding: $gutter;
}

.taxon-page__section-description {
  @include core-19;
  margin-top: $gutter-one-third;
}

.taxon-page__section-group {
  border-top: 2px solid $govuk-blue;
  margin-top: $gutter * 2;
  padding-top: $gutter-half;
}

.taxon-page__section-group:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.taxon-page__featured-item {
  .taxon-page__featured-image {
    margin-top: 20px;
    width: 100%;
  }

  .taxon-page__featured-link {
    @include bold-27;
    display: block;
    margin: $gutter-half 0 $gutter-one-third 0;
  }

  .taxon-page__featured-metadata-wrapper {
    @include core-16;

    .taxon-page__featured-metadata {
      display: inline-block;
      margin-right: $gutter-two-thirds;
    }
  }
}

.taxon-page__grid {
  background-color: $grey-4;
  padding-top: $gutter;
  margin-top: $gutter * 2;

  .taxon-page__grid-heading {
    @include bold-19;
    @include media (tablet) {
      padding-bottom: $gutter-one-third;
    }
  }

  .taxon-page__grid-wrapper {
    list-style-type: none;
    padding-bottom: $gutter-half;
    font-size: 0; // Set so li elements don't wrap unnecessarily due to white space

    .taxon-page__grid-item {
      padding-bottom: $gutter;

      @include media(tablet) {
        @include box-sizing(border-box);
        display: inline-block;
        width: 50%;
        min-height: (5 * $gutter);
        vertical-align: top;
        padding: 0 $gutter-half $gutter * 1.5 0;
      }

      @include media(desktop) {
        width: (1 / 3) * 100%;
      }
    }
  }

  .taxon-page__grid-item-description {
    @include core-19;
    margin-top: $gutter-one-third / 2;
    margin-bottom: $gutter-two-thirds;


    &:last-child {
      margin-bottom: 0;
    }
  }
}
