.taxon-feedback-wrapper {
  background-color: $grey-4;
}

.taxon-page__section-heading {
  @include bold-27;
}

.taxon-page__grid-heading {
  margin-bottom: 15px;
}

.taxon-page__email-link-wrapper {
  background-color: $grey-4;
  margin-top: -$gutter;
  margin-bottom: $gutter;
  border-bottom: 1px solid $border-colour;
  padding: $gutter;
}

.taxon-page__section-description {
  @include core-19;
  margin-top: $gutter-one-third;
}

.taxon-page__section-group {
  border-top: 2px solid $govuk-blue;
  margin-top: $gutter * 2;
  padding-top: $gutter-half;
}

.taxon-page__section-group:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

// this is a stop-gap solution, using this mixin introduces
// some duplication but it is necessary until this area has
// been fully converted to use components
@mixin taxon-element-styles {
  h2 {
    @include bold-19;
    @include media (tablet) {
      padding-bottom: $gutter-one-third;
    }
  }

  p {
    @include core-19;
    margin-top: $gutter-one-third / 2;
    margin-bottom: $gutter-two-thirds;
  }

  // this is to make links easier to use for touch users
  // but the work was never completed and there's no supporting user research
  // so it should be removed soon
  a {
    margin: -3px;
    padding: 3px;
    outline-color: transparent;
    display: block;
  }
}

.taxon-page__grid {
  background-color: $grey-4;
  padding-top: $gutter;
  margin-top: $gutter * 2;
  @include taxon-element-styles;

  ol {
    list-style-type: none;
    padding-bottom: $gutter-half;
    @extend %grid-row;

    li {
      @include grid-column(1 / 3);
      padding-bottom: $gutter;

      @include media (tablet) {
        padding-bottom: $gutter * 1.5;
        min-height: (5 * $gutter);
      }
    }
  }

  p {
    margin: 5px 0 20px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .leftmost-row-cell-clear-float {
    clear: left;
  }
}

.world-taxon-page--leaf .topic-header {
  @include taxon-element-styles;
}

.world-taxon-page--accordion {
  .child-topic-contents {
    .topic-content {
      ol {
        list-style-type: none;
      }

      li {
        margin-bottom: $gutter-one-third;
      }
    }
  }
}
