.content-list__sticky {
  @include govuk-media-query($from: tablet) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.taxon-page__email-link-wrapper {
  background-color: govuk-colour("light-grey");
  margin-top: -(govuk-spacing(6));
  margin-bottom: govuk-spacing(6);
  border-bottom: 1px solid $govuk-border-colour;
  padding: govuk-spacing(6) 0;
}

.taxon-page__section-description {
  @include govuk-font(19);
  margin-top: govuk-spacing(2);
}

.taxon-page__section-group {
  border-top: 2px solid $govuk-brand-colour;
  margin-top: 60px;
  padding-top: govuk-spacing(3);
}

.taxon-page__section-group:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.taxon-page__featured-item {
  @include govuk-clearfix;
  margin-top: govuk-spacing(4);

  &--single {
    min-width: 330px;
  }

  .taxon-page__featured-image {
    box-sizing: border-box;
    width: (1 / 3) * 100%;
    float: left;
    margin-bottom: govuk-spacing(2);
    padding-right: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      float: none;
      margin-bottom: govuk-spacing(2);
      padding-right: 0;
      width: 100%;
    }
  }
}

.taxon-page__featured-see-more {
  display: block;
  padding-top: govuk-spacing(4);
  padding-left: govuk-spacing(3);
  clear: both;
}

.taxon-page__see-more {
  position: relative;
  top: govuk-spacing(3);
}

.taxon-page__show-more-toggle {
  display: none;

  .js-enabled & {
    display: block;
    margin-bottom: govuk-spacing(4);
  }
}

.taxon-page__grid {
  background-color: govuk-colour("light-grey");
  padding-top: govuk-spacing(6);
  margin-top: 60px;

  .taxon-page__grid-heading {
    @include govuk-font(19, $weight: bold);
    margin-bottom: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      padding-bottom: govuk-spacing(2);
    }
  }

  .taxon-page__grid-wrapper {
    list-style-type: none;
    padding-bottom: govuk-spacing(3);
    font-size: 0; // Set so li elements don't wrap unnecessarily due to white space

    .taxon-page__grid-item {
      padding-bottom: govuk-spacing(6);

      @include govuk-media-query($from: tablet) {
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        min-height: 150px;
        vertical-align: top;
        padding: 0 15px 45px 0;
      }

      @include govuk-media-query($from: desktop) {
        width: (1 / 3) * 100%;
      }
    }
  }

  .taxon-page__grid-item-description {
    @include govuk-font(19);
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(4);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.taxon-page__organisations {
  list-style-type: none;

  .taxon-page__organisation {
    margin-bottom: govuk-spacing(4);
    border-bottom: 1px solid $govuk-border-colour;
    padding-bottom: govuk-spacing(3);
  }
}

.taxon-page__sub-topic-sidebar a {
  display: block;
  text-decoration: none;
  padding-top: govuk-spacing(2);
}

.taxon-page__link-list {
  list-style-type: none;
}

.taxon-page__link-list-item {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    margin-bottom: 5px;
  }
}
