.topics-page {

  .page-header {
    h2 {
      @include govuk-font(24);
      color: inherit;
      margin: 0;
    }

    .latest-subscribe {
      @include govuk-font(14);

      ul {
        @include govuk-media-query($from: tablet) {
          // align with the left edge of the search box
          margin-left: 18px;
        }
      }

      ul li {
        display: block;
      }

      .primary {
        border-bottom: 1px solid $govuk-border-colour;
        padding-bottom: 10px;
        margin-bottom: 14px;
      }

      .email a {
        background: image-url('mail-icon.png') 0 40% no-repeat;
        padding-left: 28px;

        @include govuk-device-pixel-ratio() {
          background-image: image-url('mail-icon-x2.png');
          background-size: 20px 14px;
        }
      }

      a {
        @include govuk-font(16, $weight: bold);
        text-decoration: none;
      }
    }
  }

  .browse-container {
    background-color: govuk-colour("white");
    min-height: 500px;
    padding: 0 0 45px 0;

    h2,
    h3 {
      @include govuk-font(19, $weight: bold);
      margin-bottom: 0;
    }

    @include govuk-media-query($from: mobile) {
      padding: 0 0 30px 0;
      min-height: auto;
    }
  }

  nav {
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: auto;

    h1 {
      @include govuk-font(24, $weight: bold);

      margin-bottom: govuk-spacing(2);

      @include govuk-media-query($from: desktop) {
        float: left;
        max-width: 12.5em;
      }
    }
  }
}
