@import "govuk_publishing_components/individual_component_support";

.topical-events-show {
  .topical-event-logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .organisations-list {
    list-style: none;
    padding: 0;

    /* stylelint-disable */
    .organisations-list__item {
      float: left;
      padding: 0 govuk-spacing(3) govuk-spacing(3);
      min-height: 90px;
      border: none;
      margin: 0;

      .organisation-logo:focus {
        padding-bottom: govuk-spacing(1);
      }
    }

    .non-govuk {
      a {
        display: block;
        height: 80px;
        text-indent: -999em;
        background: transparent none no-repeat 50% 50%;
      }

      &.arts-council-england a {
        background-image: image-url("topical-events/arts-council-england.png");
        width: 217px;
      }

      &.bbc a {
        background-image: image-url("topical-events/bbc.png");
        width: 143px;
      }

      &.british-library a {
        background-image: image-url("topical-events/british-library.png");
        width: 30px;
      }

      &.commonwealth-war-graves-commission a {
        background-image: image-url("topical-events/cwgc.png");
        width: 209px;
      }

      &.heritage-lottery-fund a {
        background-image: image-url("topical-events/hlf.png");
        width: 74px;
      }

      &.historic-england a {
        background-image: image-url("topical-events/historic-england.png");
        width: 242px;
      }

      &.imperial-war-museums a {
        background-image: image-url("topical-events/iwm.png");
        width: 80px;
      }

      &.war-memorials-trust a {
        background-image: image-url("topical-events/wmt.png");
        width: 103px;
      }

      &.birmingham_2022_commonwealth_games a {
        background-image: image-url("topical-events/birmingham_2022.png");
        width: 120px;
        height: 120px;
      }

      &.queens_platinum_jubilee a {
        background-image: image-url("topical-events/platinum_jubilee.png");
        width: 120px;
        height: 120px;
      }

      &.unboxed a {
        background-image: image-url("topical-events/unboxed.png");
        width: 250px;
        height: 120px;
      }
    }
    /* stylelint-enable */
  }

  .topical-events__section-break,
  .topical-events__social-media-links,
  .topical-events__image,
  .topical-event__body-wrapper {
    @include govuk-responsive-margin(8, "bottom");
  }
}
