
$red: #FF003B;
$dark-blue: #0055D2;
$dark-blue-2: #1E1348;
$dark-blue-shadow: #020659;
$transparent: rgba(0,0,0,0);
$header-breakpoint: 960px;
$green: #00703C;

.large-paragraph {
  @include govuk-font($size: 19);
  margin: govuk-spacing(6) 0 govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
}

.landing-page__header {
  padding-bottom: govuk-spacing(6);
  padding-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(6);
  background-color: govuk-colour("white");
  color: $dark-blue-2;
}

.landing-page__header--with-bg-image {
  background-color: govuk-colour("white");
  border-top: govuk-spacing(2) solid $red;

  @include govuk-media-query($from: $header-breakpoint) {
    background-image: image-url('transition-2020-header-background.jpg');
    background-size: cover;
    background-position: top;
    min-height: 500px;
  }

  // HIDE BACKGROUND IMAGE ON IE

  // IE 6, 7, 8
  @media \0screen\,screen\9 {
    background-image: none;
  }

  // IE 9
  @media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
    background-image: none;
  }
}

.landing-page__header-text-block {
  padding-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding-bottom: govuk-spacing(9);
  }
}

.landing-page__countdown-number-wrapper {
  @include govuk-font($size: 80, $weight: bold, $line-height: 60px);

  display: inline-block;
  background: $dark-blue-2;
  color: govuk-colour('white');
  position: relative;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(1);
  }
}

/* adds the line in across the middle of the div */
.landing-page__countdown-number-wrapper:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  background: govuk-colour('white');
  content: "";
  width: 100%;
  display: block;
}

.landing-page__countdown-number {
  padding-top: govuk-spacing(2);
  min-width: 50px;
  text-align: center;

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(3);
  }
}

.landing-page__countdown-text {
  @include govuk-font($size: 27, $weight: bold);

  display: inline-block;
  margin-left: govuk-spacing(2);
  height: 35px;
  vertical-align: middle;
  color: $dark-blue-2;

  @include govuk-media-query($from: tablet) {
    height: 60px;
  }
}

.landing-page__take-action-button {
  .govuk-button {
    background-color: $green;
    box-shadow: 0 2px 0 $dark-blue-shadow;
  }
}

.landing-page__take-action-traffic-lights {
  @include govuk-media-query($until: tablet) {
    margin-top: govuk-spacing(4);
    margin-bottom: govuk-spacing(6);
    text-align: center;
  }
}

.landing-page__take-action-traffic-lights > li {
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($until: tablet) {
    display: inline;
    margin-right: govuk-spacing(2);
  }
}

.landing-page__take-action-traffic-lists-icon {
  vertical-align: middle;
  margin-top: -5px;
  width: 18px;

  @include govuk-media-query($from: tablet) {
    width: 36px;
  }
}

.landing-page__take-action-traffic-lists-text {
  @include govuk-font($size: 24, $weight: bold, $line-height: 1.1);
  vertical-align: middle;

  @include govuk-media-query($from: tablet) {
    @include govuk-font($size: 36, $weight: bold, $line-height: 1.1);
  }
}

.landing-page__intro {
  p {
    @include govuk-font($size: 36, $line-height: 35px);
    color: $dark-blue-2;

    @include govuk-media-query($from: tablet) {
      @include govuk-font($size: 36, $line-height: 45px);
    }
  }

  a:link,
  a:visited {
    font-weight: bold;
    color: $dark-blue-2;
  }

  a:focus {
    color: govuk-colour("black");
  }
}

.landing-page__intro-highlight {
  color: govuk-colour("white");
  background-color: $red;
  padding: 0 3px;
}

.landing-page__page_title {
  @include govuk-font($size: 48, $weight: bold);
  color: $dark-blue-2;
  margin-top: govuk-spacing(7);
  margin-bottom: govuk-spacing(4);
}

.landing-page__translation {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.landing-page__contents {
  margin: govuk-spacing(6) 0 govuk-spacing(9) 0;
}

.landing-page__share {
  @include govuk-responsive-margin(8, "top");
}

.landing-page__section {
  margin-top: govuk-spacing(4);
  @include govuk-responsive-padding(6, "top");
}

.landing-page__section--border-top {
  border-top: govuk-spacing(2) solid $dark-blue-2;
}

.landing-page__section--border-bottom-red {
  border-bottom: govuk-spacing(2) solid $red;
}

.landing-page__section--blue {
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
  background-color: $dark-blue-2;
  margin-top: 0;

  h2,
  p {
    color: govuk-colour("white");
  }
}


.landing-page__section--light-grey {
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(4, "bottom");
  background-color: govuk-colour('light-grey');
  margin-top: 0;
}

.landing-page__guidance_subheader {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(7);
}

.landing-page__section-list-wrapper {
  margin-bottom: govuk-spacing(6);

  &:before {
    border-top: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
    content: "";
    display: block;
    margin-right: govuk-spacing(3);
    margin-left: govuk-spacing(3);
    @include govuk-responsive-margin(6, "bottom");
  }
}

.landing-page__section-list {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(3);
  margin-left: govuk-spacing(5);
}

.landing-page__section-see-all {
  @include govuk-font(19);
  margin-top: govuk-spacing(4);
}

.landing-page__section em {
  font-weight: bold;
  font-style: normal;
}

.landing-page__buckets {
  margin-bottom: govuk-spacing(6);
}

.landing-page__divide {
  border-top: 1px solid govuk-colour("white");
  padding-top: govuk-spacing(4);
}

.landing-page__finders {
  margin-bottom: 0;
}

.landing-page__comms-video {
  @include govuk-media-query($from: "tablet") {
    position: relative;
    top: -15px;
  }
}
