<div class="covid-local-restrictions__no-restriction-guidance">
  <%= render "govuk_publishing_components/components/title", {
    title: "Local alert level 1"
  } %>
  <p class="govuk-body">
    This area is in local alert level 1.
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19">What you can and cannot do.</a>
  </p>
</div>
