<div class="covid-local-restrictions__local-alert-guidance">
  <%= render "govuk_publishing_components/components/title", {
    title: "Local alert level #{@restriction.alert_level}"
  } %>
  <p class="govuk-body">
    We've matched the postcode <strong><%= @postcode %></strong> to <strong><%= @restriction.area_name %></strong>.
  </p>
  <p class="govuk-body">
    This area is in local alert level <%= @restriction.alert_level %>.
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19">What you can and cannot do.</a>
  </p>
</div>
