<div class="covid-local-restrictions__travel-gudiance">
  <%= render "govuk_publishing_components/components/heading", {
    text: "If you travel to other areas",
    font_size: "m",
    margin_bottom: 3
  } %>
  <p class="govuk-body">
    <a class="govuk-link" href="<%= find_coronavirus_local_restrictions_path %>">Enter another postcode</a> to find out what restrictions there are.
  </p>
</div>
