<%= render "govuk_publishing_components/components/heading", {
  text: t("coronavirus_local_restrictions.results.travel_heading"),
  font_size: "m",
  margin_bottom: 3
} %>
<p class="govuk-body">
  <%= sanitize(t("coronavirus_local_restrictions.results.travel_text")) %>
</p>
