<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: find_coronavirus_local_restrictions_path
  } %>
<% end %>

<%
  partial = if !@search.location_lookup.data.first.england?
              "devolved_nation"
            elsif @search.local_restriction&.tier_two?
              "tier_two_restrictions"
            elsif @search.local_restriction&.tier_three?
              "tier_three_restrictions"
            else
              "tier_one_restrictions"
            end
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: partial,
      locals: {
        restriction: @search.local_restriction,
        postcode: @search.normalised_postcode,
        location_lookup: @search.location_lookup,
      }
    %>
  </div>
</div>
