<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <% if !@location_lookup.data.first.england? %>
        <%= render partial: "coronavirus_local_restrictions/devolved_nation" %>
      <% elsif @restriction.present? %>
        <%= render partial: "coronavirus_local_restrictions/restriction" %>
      <% else %>
        <%= render partial: "coronavirus_local_restrictions/no_restrictions" %>
      <% end %>

      <%= render "govuk_publishing_components/components/heading", {
        text: "If you travel to other areas",
        font_size: "m",
        margin_bottom: 3
      } %>
      <p class="govuk-body">
        <a class="govuk-link" href="/">Enter another postcode</a> to find out what restrictions there are.
      </p>
    </div>
  </div>
</div>
