<%= render "govuk_publishing_components/components/govspeak", {
} do %>
  <h3 class="govuk-heading-m">
    <%= t("dit_landing_page.tax_title") %>
  </h3>
  <%= t("dit_landing_page.tax_text").html_safe %>
<% end %>
