<div class="landing-page__section dit-landing-page__section--dark-grey landing-page__section--border-bottom-red">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
          <%= t("dit_landing_page.training_section_title") %>
        </h2>
        <p class="govuk-body"><%= sanitize(t("dit_landing_page.training_section_description", url: t("dit_landing_page.training_section_url"))) %></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= image_tag 'DIT-small-image.jpg', class: "dit-landing-page__training-image", alt: "", loading: "lazy" %>
      </div>
    </div>
  </div>
</div>
