<% content_for :title, topic.title %>
<%= render 'shared/tag_meta', tag: topic %>
<% if is_page_under_ab_test %>
  <%= ab_variant.analytics_meta_tag.html_safe %>
<% end %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <div class="full-width">
    <h1><%= topic.title %></h1>
  </div>
</header>

<div class="browse-container full-width topics-page" data-module="track-click">
  <nav class="topics">
    <ul>
      <% topic.children.each_with_index do |subtopic, index|%>
        <li>
          <%=
            link_to(
              subtopic.title,
              subtopic.base_path,
              data: {
                track_category: 'topicLinkClicked',
                track_action: "#{index + 1}",
                track_label: subtopic.base_path,
                track_options: {
                  dimension28: topic.children.count.to_s,
                  dimension29: subtopic.title,
                },
              }
            )
          %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
