<% content_for :title, topic.title %>
<%= render 'shared/tag_meta', tag: topic %>
<% content_for :meta_tags do %>
  <meta name='govuk:navigation-page-type' content='<%= navigation_page_type %>'>
<% end %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <%= render "govuk_component/title", title: topic.title %>
</header>

<div class="browse-container full-width topics-page" data-module="track-click">
  <nav class="topics">
    <% tracking_category = topic.base_path == '/topic' ? 'navTopicLinkClicked' : 'navSubtopicLinkClicked' %>
    <%= render 'components/topic-list', topic_list_params(topic.children, category: tracking_category) %>
  </nav>
</div>
