<% add_view_stylesheet("topics") %>

<% title_with_suffix = t("shared.topics.title", title: topic.title) %>
<% content_for :title, title_with_suffix %>
<%= render 'shared/tag_meta', tag: topic %>
<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: navigation_page_type,
    }
  } %>
<% end %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <%= render "govuk_publishing_components/components/title", title: title_with_suffix %>
</header>

<div class="browse-container full-width topics-page" data-module="gem-track-click ga4-link-tracker">
  <nav class="topics">
    <% tracking_category = topic.base_path == '/topic' ? 'navTopicLinkClicked' : 'navSubtopicLinkClicked' %>
    <%= render 'components/topic_list', topic_list_params(topic.children, category: tracking_category, list_title: title_with_suffix) %>
  </nav>
</div>
