.gem-c-chevron-banner__link-container {
  padding: govuk-spacing(2);

  @include govuk-media-query($from: mobile) {
    padding: 0;
  }

  @include govuk-media-query(450px) {
    padding: govuk-spacing(1);
  }

  @include govuk-media-query(700px) {
    padding: govuk-spacing(2);
  }
}
