<% if guidance %>
<div class="covid__page-guidance">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
          text: guidance["header"],
          font_size: 19,
          margin_bottom: 5
        } %>
        <ul class="covid__list">
          <% guidance["list"].each do | item | %>
            <li class="covid__list-item">
              <a
                class="govuk-link covid__page-guidance-link"
                href="<%= item["url"] %>"
                data-module="track-click"
                data-track-category="pageElementInteraction"
                data-track-action="What you can do now"
                data-track-label="<%= item["url"] %>"
              >
                <%= item["text"] %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
