<% if guidance %>
<div class="covid__page-guidance">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
          text: guidance["header"],
          font_size: 19,
          margin_bottom: 5
        } %>
        <ul class="covid__list">
          <% guidance["list"].each do | item | %>
            <li class="covid__list-item">
              <%= render 'govuk_publishing_components/components/action_link', {
                dark_icon: true,
                href: item["url"],
                text: item["text"],
                data: {
                  module: "track-click",
                  track_category: "pageElementInteraction",
                  track_action: "What you can do now",
                  track_label: item["url"]
                }
              } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
