<% if guidance || email_signup %>
<div class="covid__page-guidance">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <% if guidance %>
          <%= render "govuk_publishing_components/components/heading", {
            text: guidance["header"],
            font_size: 19,
            margin_bottom: 5
          } %>
          <ul class="govuk-list covid__list govuk-!-margin-bottom-8">
            <% guidance["list"].each do | item | %>
              <li class="covid__list-item">
                <%= render 'govuk_publishing_components/components/action_link', {
                  dark_icon: true,
                  href: item["url"],
                  text: item["text"],
                  data: {
                    module: "gem-track-click",
                    track_category: "pageElementInteraction",
                    track_action: "What you can do now",
                    track_label: item["url"]
                  }
                } %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if email_signup %>
          <%= render partial: 'components/signup-link', locals: {
            heading_level: 2,
            link_text: email_signup["email_link"],
            link_href: email_signup["email_url"],
            heading: email_signup["intro"],
            data: {
              "module": "gem-track-click",
              "track-category": "emailAlertLinkClicked",
              "track-action": request.path
            },
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
