<% content_for :title, t("browse.all_categories") %>
<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Browse Index",
    }
  } %>
<% end %>

<h1 class="govuk-visually-hidden"><%= t("shared.browse.title") %></h1>

<div class="browse" data-module="browse-columns gem-track-click">
  <div id="subsection" class="browse__subsection-pane"></div>
  <div id="section" class="browse__section-pane"></div>
  <%= render 'top_level_browse_pages',
    top_level_browse_pages: page.top_level_browse_pages %>
</div>
