<% if organisation.ordered_contacts.presence %>
  <div class="organisation-contact-details">
    <%= render "govuk_publishing_components/components/heading", {
        text: "Contact #{organisation.title}",
        heading_level: 2
    } %>
    <% contact.each do |contact_info| %>
      <%= render "govuk_publishing_components/components/heading", {
          text: contact_info["title"],
          heading_level: 4,
          font_size: 19
      } %>
    <% end %>
  </div>
<% end %>
