<div class="column-one-third">
  <% if @show.corporate_information[:corporate_information_links][:items].any? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t('organisations.corporate_information'),
      margin_bottom: 2,
      padding: true,
      border_top: 5,
      brand: @organisation.brand,
    } %>
    <%= render "components/topic-list", @show.corporate_information[:corporate_information_links] %>
  <% end %>

  <% if @show.corporate_information[:job_links][:items].any? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t('organisations.jobs_contracts'),
      margin_bottom: 2,
      heading_level: 3,
      font_size: 24
    } %>
    <%= render "components/topic-list", @show.corporate_information[:job_links] %>
  <% end %>
</div>
