<section class="<%= "brand--#{@organisation.brand} brand__border-color" if @organisation.is_live? %> organisation__brand-border-top organisation__margin-bottom">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('organisations.document_types.documents'),
        padding: true
      } %>
    </div>
  </div>

  <% @documents.latest_documents_by_type.in_groups_of(2, false) do |documents_group| %>
    <div class="grid-row">
      <% documents_group.each do |documents| %>
        <div class="column-half">
          <%= render "govuk_publishing_components/components/heading", {
            text: documents[:title],
            padding: true,
            font_size: 24,
            heading_level: 3
          } %>
          <%= render "govuk_publishing_components/components/document_list", documents[:documents] %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
