<% if contacts.has_contacts? %>
<section class="brand--<%= @organisation.brand %> organisation__margin-bottom" id="org-contacts">
  <%= render "govuk_publishing_components/components/heading", {
      text: t('organisations.contact.contact_organisation', organisation: @show.acronym),
      brand: @organisation.brand,
      border_top: 5,
      padding: true,
      lang: t_fallback("organisations.contact.contact_organisation", { organisation: @show.acronym })
  } %>

  <%= render partial: 'contacts', locals: { contacts: contacts.contacts, border: true, ga4_section: t('organisations.contact.contact_organisation', organisation: @show.acronym, locale: :en) } %>
</section>
<% end %>
