<div class="organisation-department-category">
  <legend><%= category_id %></legend>
  <ul class="organisation-departments">
    <% departments.each do |department| %>
      <li><%= link_to department["title"], department["href"] %></li>
    <% end %>
  </ul>

</div>

