<% if people.any? %>
  <section class="brand--<%= brand %> brand__border-color organisation__brand-border-top organisation__margin-bottom">
    <div class="grid-row">
      <div class="column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
          text: title,
          padding: true,
          margin_bottom: 2
        } %>
      </div>
    </div>

    <% people.in_groups_of(4, false) do |people| %>
      <div class="grid-row">
        <% people.each do |person| %>
          <div class="column-quarter">
            <%= render "govuk_publishing_components/components/image_card", person %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section >
<% end %>
