<% content_for :title, "#{@presented_organisations.title} - GOV.UK" %>

<% content_for :meta_tags do %>
  <%= auto_discovery_link_tag(:json, api_organisations_url, title: @presented_organisations.title) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
        title: @presented_organisations.title
    } %>
  </div>
</div>

<form class="filter-organisations-list__form" data-filter="form">
  <label class="filter-organisations-list__label" for="filter-organisations-list">What’s the latest<br />from</label>
  <input class="filter-organisations-list__input" type="text" id="filter-organisations-list" placeholder="For example, Home Office">
  <span class="filter-organisations-list__label" aria-hidden="true">?</span>
</form>

<div class="organisations">
  <%= render partial: 'organisations_list', locals: {
    all_organisations: @presented_organisations.all_organisations
  } %>

  <p class="organisations__no-filter-match js-hidden js-no-filter-matches">No departments match that filter.</p>
</div>

<p>Errors or omissions? <a href="/contact/govuk">Tell us here</a>. For official lists of non–departmental public bodies <a href="/government/collections/public-bodies">see public bodies</a>.</p>
