<% content_for :title, "Departments, agencies and public bodies - GOV.UK" %>
<h1>Departments, agencies and public bodies - GOV.UK</h1>

<% @content_item["details"].each do |organisation_id, organisation| %>
  <div class="grid-row">
    <div class="column-one-third">
      <h2><%= @organisations.get_name_of_organisation(organisation_id) %></h2>
      <div class="ministerial-department-count">
        <%= @organisations.organisations_count(organisation_id) %>
      </div>
    </div>
    <div class="column-two-thirds">
      <% organisation.each do |org| %>
        <%= render 'organisation',
                   organisation: org %>
      <% end %>
    </div>
  </div>
<% end %>