<% content_for :head do %>
  <%= stylesheet_link_tag "views/_bunting", media: "all" %>
<% end %>

<div class="app-bunting" aria-hidden="true">
    <div class="app-bunting__triangles"></div>
</div>

<div class="app-bunting--spacer"></div>
