<section id="<%= heading.downcase.parameterize %>" class="document-block">
  <%= render "govuk_publishing_components/components/heading", {
    text: heading,
    padding: true,
    font_size: 27,
    margin_bottom: 3,
  } %>

    <%= render "govuk_publishing_components/components/document_list", {
      items: documents,
      margin_bottom: 6,
    } %>

  <p class="govuk-body">
    <%=
      link_to(
        "See all #{heading.downcase}",
        link_to,
        class: "govuk-link",
        data: {
          track_category: 'navPolicyAreaLinkClicked',
          track_action: "#{heading}",
          track_label: link_to,
          track_options: {
            dimension28: documents.size.to_s,
            dimension29: "See all #{heading.downcase}"
          }
        }
      )
    %>
  </p>
</section>
