<ul class="organisations-list govuk-clearfix">            
  <li class="organisations-list__item non-govuk imperial-war-museums">
    <a href="http://www.iwm.org.uk">Imperial War Museum</a>
  </li>
  <li class="organisations-list__item non-govuk historic-england">
    <a href="https://historicengland.org.uk">Historic England</a>
  </li>
  <li class="organisations-list__item non-govuk commonwealth-war-graves-commission">
    <a href="http://www.cwgc.org">Commonwealth War Graves Commission></a>
  </li>
  <li class="organisations-list__item non-govuk arts-council-england">
    <a href="http://www.artscouncil.org.uk">Arts Council England</a>
  </li>
  <li class="organisations-list__item non-govuk bbc">
    <a href="http://www.bbc.co.uk">BBC</a>
  </li>
  <li class="organisations-list__item non-govuk british-library">
    <a href="http://www.bl.uk">British Library</a>
  </li>
  <li class="organisations-list__item non-govuk heritage-lottery-fund">
    <a href="http://www.hlf.org.uk/ThenAndNow">Heritage Lottery Fund</a>
  </li>
  <li class="organisations-list__item non-govuk war-memorials-trust">
    <a href="http://www.warmemorials.org">War Memorials Trust</a>
  </li>
</ul>
