<ul class="organisations-list govuk-clearfix">
  <li class="organisations-list__item non-govuk birmingham_2022_commonwealth_games">
    <a href="https://www.gov.uk/government/organisations/birmingham-organising-committee-for-the-2022-commonwealth-games-ltd"><%= t('topical_events.platinum_jubilee_unboxed.birmingham_2022_commonwealth_games') %></a>
  </li>
  <li class="organisations-list__item non-govuk queens_platinum_jubilee">
    <a href="https://www.royal.uk/platinumjubilee"><%= t('topical_events.platinum_jubilee_unboxed.queens_platinum_jubilee') %></a>
  </li>
  <li class="organisations-list__item non-govuk unboxed">
    <a href="https://unboxed2022.uk/">'<%= t('topical_events.platinum_jubilee_unboxed.unboxed_creativity_in_the_uk') %>'</a>
  </li>
</ul>
