<ul class="organisations-list govuk-clearfix">
  <li class="organisations-list__item non-govuk birmingham_2022_commonwealth_games">
    <a href="https://www.gov.uk/government/organisations/birmingham-organising-committee-for-the-2022-commonwealth-games-ltd">Birmingham 2022 Commonwealth Games</a>
  </li>
  <li class="organisations-list__item non-govuk queens_platinum_jubilee">
    <a href="https://www.royal.uk/platinumjubilee">Queen's Platinum Jubilee</a>
  </li>
  <li class="organisations-list__item non-govuk unboxed">
    <a href="https://unboxed2022.uk/">'Unboxed: Creativity in the UK'</a>
  </li>
</ul>
