
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% title = "Choose your address" %>
    <% content_for :title, title %>

    <div>
      <%= render "govuk_publishing_components/components/title", title: title %>

      <p class="govuk-body">
        The <strong><%= @postcode %></strong> postcode could be in several council areas. Please choose your address from the list below.
      </p>

        <%= render "govuk_publishing_components/components/list", {
          items: @address_links.map{|a| sanitize(a) }
        } %>

    </div>
  </div>
</div>
