<% content_for :is_taxon_page, true %>
<% content_for :title, policy_area.title %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= policy_area.description %>">
  <meta name="govuk:navigation-page-type" content="Taxon Page" />
<% end %>

<%= render partial: 'page_header', locals: { policy_area: policy_area } %>

<div class="taxon-page__email-link-wrapper">
  <div class="full-page-width-wrapper">
      <%= render "components/email-link", {
        text: "Sign up for updates to this topic page",
        href: "/email-signup/?topic=#{policy_area.base_path}"
      } %>
  </div>
</div>
