<% content_for :title, "Past Prime Ministers" %>
<% page_class "govuk-width-container" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/title", {
      context: "History",
      title: "Past Prime Ministers",
    } %>
  </div>
</div>
