<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" data-module="gem-track-click ga4-link-tracker">
      <%= yield %>
    </div>
  </div>
</div>