<%
  # Set the most commonly used bottom margin, but make it overrideable
  margin_bottom ||= 8

  two_thirds ||= false

  column_classes = %w()
  column_classes << (two_thirds ? "govuk-grid-column-two-thirds" : "govuk-grid-column-full")
%>

<%= render "govuk_publishing_components/components/inverse_header", {
  full_width: true,
  padding_bottom: 8,
  margin_bottom: margin_bottom
} do %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="<%= column_classes.join(' ') %>">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

