<style>
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
</style>
<h2 class="govuk-heading-m"><%= content_extension.dig("details", "text") %></h2>
<%= image_tag content_extension.dig("details", "image"), class: 'full-width' %>
