<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-9" data-module="gem-track-click">
      <%= yield %>
    </div>
  </div>
</div>