<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-body govuk-grid-column-two-thirds landing-page__finders">
    <h2 class="govuk-heading-m">
      <%= t("transition_landing_page.topic_section_header") %>
    </h2>
    <p class="govuk-body"><%= t("transition_landing_page.topic_section_subheading") %></p>

    <%= render "components/topic-list", {
      items: supergroups
    } %>
  </div>
</div>
<%= render partial: 'components/signup-link', locals: {
  link_href: "/email-signup/?topic=#{email_path}",
  link_text: t("transition_landing_page.email"),
  heading: t("transition_landing_page.email_intro"),
  data: {
    "module": "track-click",
    "track-category": "emailAlertLinkClicked",
    "track-action": email_path
  },
  background: true
} %>
