<div class="landing-page__countdown">
  <div class="landing-page__countdown-number-wrapper">
    <div class="landing-page__countdown-number">8</div>
  </div>
  <div class="landing-page__countdown-number-wrapper">
    <div class="landing-page__countdown-number">7</div>
  </div>
  <p class="govuk-body landing-page__countdown-text">days to go</p>
</div>
