<div class="govuk-grid-row transition-countdown__countdown">
  <p>
    <span class="transition-countdown__days-left"><%= clock.days_left %></span>
  </p>
  <p>
    <span class="transition-countdown__days-text"><%= clock.days_text %></span>
  </p>
</div>
