<div class="high-volume">
  <h2 class="high-volume-heading">Most viewed in this topic</h2>
  <ol>
    <% presented_taxon.most_popular_content.each_with_index do |content_item, index| %>
      <li>
      <%=
        link_to(
          content_item.title,
          content_item.base_path,
          data: {
            track_category: 'navBlueBoxLinkClicked',
            track_action: "#{index + 1}",
            track_label: content_item.base_path,
            track_options: {
              dimension28: presented_taxon.most_popular_content.size.to_s,
              dimension29: content_item.title,
            },
            module: 'track-click',
          }
        )
      %>
      </li>
    <% end %>
  </ol>
</div>
