<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: presented_taxon.title,
      average_title_length: 'long'
    } %>

    <%= render 'govuk_publishing_components/components/lead_paragraph', text: presented_taxon.description %>
    <%= render partial: 'email_alerts', locals: { presented_taxon: presented_taxon } %>
  </div>
</div>
