<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: presented_taxon.title,
      heading_level: 1,
      margin_bottom: 8,
      font_size: "l",
    } %>

    <%= render 'govuk_publishing_components/components/lead_paragraph', text: presented_taxon.description %>
    <%= render partial: 'email_alerts', locals: { presented_taxon: presented_taxon } %>
  </div>
</div>
