<% if presented_taxon.tagged_content.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% heading_level = heading_level ? heading_level : false %>
      <%= render 'components/taxon_list', {
          heading_level: heading_level,
          items: taxon_list_params(presented_taxon, data_options_type: :options_for_leaf_content)
      } %>
    </div>
  </div>
<% end %>
