<% if presented_taxon.tagged_content.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/document_list", {
        remove_top_border: true,
        disable_ga4: true,
        equal_item_spacing: true,
        items: taxon_list_params(presented_taxon)
      } %>
    </div>
  </div>
<% end %>
