<% if presented_taxon.tagged_content.any? %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <% if presented_taxon.child_taxons.present? %>
        <div class="topic-header">
          <h2><%= presented_taxon.title %> guidance</h2>
          <p><%= presented_taxon.description %></p>
        </div>
      <% end %>

      <% heading_level = heading_level ? heading_level : false %>
      <%= render 'components/taxon-list', {
          heading_level: heading_level,
          items: taxon_list_params(presented_taxon, data_options_type: :options_for_leaf_content)
      } %>
    </div>
  </div>
<% end %>
