<% content_for :page_class, "world-taxon-page world-taxon-page--accordion" %>
<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon
    }
  )
%>
<% if presented_taxon.accordion_content.present? %>
  <div class="govuk-grid-row child-topic-contents">
    <div class="govuk-grid-column-two-thirds">
      <div class="topic-content">
        <%
          accordion_contents = []
        %>
        <% presented_taxon.accordion_content.each_with_index do |taxon, index| %>
          <% contents = capture do %>
            <%= render 'components/taxon-list', {
                heading_level: 3,
                items: taxon_list_params(taxon, data_options_type: :options_for_accordion_content, section_index: index)
             } %>
          <% end %>
          <%
            accordion_contents << {
              title: taxon.title,
              description: taxon.description,
              id: taxon.base_path,
              panel: contents
            }
          %>
        <% end %>
        <% items = [] %>
        <% accordion_contents.each_with_index do |section, index| %>
          <%
          id = section[:id] || section[:title].downcase.tr(" ","-")
          items << {
            id: id,
            data_attributes: {
              "track-count": "accordionSection",
              id: "section-panel-#{id}-#{index + 1}",
            },
            heading: {
                text: section[:title],
              },
              summary: {
                text: section[:description].presence,
              },
              content: {
                html: section[:panel]
              },
            }
          %>
        <% end %>
        <%= render 'govuk_publishing_components/components/accordion', items: items %>
      </div>
    </div>
  </div>
<% end %>
