<% content_for :page_class, "world-taxon-page world-taxon-page--accordion" %>
<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon
    }
  )
%>
<% if presented_taxon.accordion_content.present? %>
  <div class="govuk-grid-row child-topic-contents">
    <div class="govuk-grid-column-two-thirds">
      <div class="topic-content">
        <%
          items = []
          number_of_accordion_sections = presented_taxon.accordion_content.length
        %>
        <% presented_taxon.accordion_content.each_with_index do |taxon, index| %>
          <% contents = capture do %>
            <%= render 'components/taxon-list', {
                heading_level: 3,
                items: taxon_list_params(taxon, data_options_type: :options_for_accordion_content, section_index: index)
             } %>
          <% end %>
          <%
            id = taxon.base_path || taxon.title.downcase.tr(" ","-")
            items << {
              data_attributes: {
                "track-count": "accordionSection",
                id: "section-panel-#{id}-#{index + 1}",
                ga4: {
                  event_name: 'select_content',
                  type: 'accordion',
                  text: taxon.title,
                  index: index + 1,
                  index_total: number_of_accordion_sections,
                }
              },
              heading: {
                text: taxon.title,
              },
              summary: {
                text: taxon.description.presence,
              },
              content: {
                html: contents
              },
            }
          %>
        <% end %>
        <%
          show_all_attributes = {
            event_name: "select_content",
            type: "accordion",
            index: 0,
            index_total: number_of_accordion_sections
          }
        %>
        <%= render 'govuk_publishing_components/components/accordion', {
          data_attributes: {
            module: "ga4-event-tracker",
          },
          data_attributes_show_all: {
            "ga4": show_all_attributes.to_json
          },
          items: items
        } %>
      </div>
    </div>
  </div>
<% end %>
