<% content_for :page_class, "world-taxon-page world-taxon-page--accordion" %>
<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon
    }
  )
%>
<% if presented_taxon.accordion_content.present? %>
  <div class="govuk-grid-row child-topic-contents">
    <div class="govuk-grid-column-two-thirds">
      <div class="topic-content">
        <%
          items = []
          number_of_accordion_sections = presented_taxon.accordion_content.length
        %>
        <% presented_taxon.accordion_content.each_with_index do |taxon, index| %>
          <% contents = capture do %>
            <%= render "govuk_publishing_components/components/document_list", {
              remove_top_border: true,
              disable_ga4: true,
              equal_item_spacing: true,
              items: taxon_list_params(taxon)
            } %>
          <% end %>
          <%
            id = taxon.base_path || taxon.title.downcase.tr(" ","-")
            items << {
              data_attributes: {
                id: "section-panel-#{id}-#{index + 1}"
              },
              heading: {
                text: taxon.title,
              },
              summary: {
                text: taxon.description.presence,
              },
              content: {
                html: contents
              },
            }
          %>
        <% end %>
        <%= render 'govuk_publishing_components/components/accordion', {
          items: items
        } %>
      </div>
    </div>
  </div>
<% end %>
