<% content_for :title, "Email alert subscription for #{subtopic.combined_title} - GOV.UK" %>
<%= render 'shared/tag_meta', tag: subtopic, description: "Subscribe to get an email each time content is published or updated in the '#{subtopic.combined_title}' topic." %>
<% content_for :page_class, "email-signup-new" %>

<header>
  <h1>
    <span>Email alert subscription</span>
    <%= subtopic.title %>
  </h1>
</header>

<section>
  <% if email_signup.valid? %>
    <%= form_for email_signup, url: email_signup_path(topic_slug: params[:topic_slug], subtopic_slug: params[:subtopic_slug]), html: { class: "signup-form" } do |form| %>
      <p>You'll get an email each time content is published or updated in this topic.</p>

      <%= button_tag 'Create subscription' %>
    <% end %>

  <% else %>
    <p>Sorry, we could not find a valid sub-topic to subscribe to.</p>
  <% end %>
</section>
