<%
  heading ||= false
  heading_padding ||= false
  border_top ||= false
  country_guidance ||= false
  accordion_contents = []
  number_of_accordion_sections = accordions.length
%>
<% accordions.each.with_index(1) do | section, index | %>
  <% content = capture do %>
    <%# this element captures an override from the accordion that the last item has margin 0 %>
    <div class="covid__accordion-inner">
      <%= render partial: 'coronavirus_landing_page/components/shared/section', locals: { section: section } %>
    </div>
  <% end %>
  <%
    additional_contents = {
      heading: {
        text: section["title"],
      },
      content: {
        html: content,
      },
      data_attributes: {
        toggle_attribute: "data-track-action",
        when_closed_text: "accordionClosed",
        when_open_text: "accordionOpened",
        track_category: "pageElementInteraction",
        track_action: "accordionClosed",
        track_label: section["title"],
        track_dimension: number_of_accordion_sections,
        track_dimension_index: 26
      }
    }

    additional_contents[:summary] = { text: section["sub_heading"] } if section["sub_heading"]

    accordion_contents << additional_contents
  %>
<% end %>
<%= render "govuk_publishing_components/components/heading", {
  text: heading,
  padding: heading_padding,
  border_top: border_top,
  font_size: "m"
} if heading %>
<div data-module="gem-track-click">
  <div data-module="toggle-attribute">
    <%= render 'govuk_publishing_components/components/accordion', {
      heading_level: 3,
      ga4_tracking: true,
      items: accordion_contents,
      margin_bottom: 3
    } %>
  </div>
</div>
