<%
  heading ||= false
  heading_padding ||= false
  border_top ||= false
  country_guidance ||= false
  # TODO update to gem
  accordion_contents = []
  number_of_accordion_sections = accordions.length
%>
<% accordions.each do | section | %>
  <% content = capture do %>
      <%= render partial: 'coronavirus_landing_page/components/shared/section', locals: { section: section } %>
  <% end %>
  <%
    accordion_contents << {
      heading: {
        text: section["title"],
      },
      content: {
        html: content,
      },
      data_attributes: {
        toggle_attribute: "data-track-action",
        when_closed_text: "accordionClosed",
        when_open_text: "accordionOpened",
        track_category: "pageElementInteraction",
        # TODO update to gem
        track_action: "accordionClosed",
        track_label: section["title"],
        track_dimension: number_of_accordion_sections,
        track_dimension_index: 26
      }
    }
  %>
<% end %>
<%= render "govuk_publishing_components/components/heading", {
  text: heading,
  padding: heading_padding,
  border_top: border_top,
} if heading %>
<div data-module="track-click">
  <div data-module="toggle-attribute">
    <%= render 'govuk_publishing_components/components/accordion', {
      heading_level: 3,
      items: accordion_contents,
      margin_bottom: 3
    } %>
  </div>
</div>
