<div class="govuk-grid-row">
  <% announcements.each do |announcement| %>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body covid__inverse">
        <% if announcement["href"].present? %>
          <a
            href="<%= announcement["href"] %>"
            class="govuk-link covid__page-header-link"
            data-module="track-click"
            data-track-category="pageElementInteraction"
            data-track-action="Announcements"
            data-track-label="<%= announcement["href"] %>"
          >
            <%= announcement["text"] %>
          </a>
        <% else %>
          <%= announcement["text"] %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
