<div class="covid__breadcrumb-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render 'govuk_publishing_components/components/breadcrumbs', {
          breadcrumbs: breadcrumbs,
          collapse_on_mobile: true
        } %>
      </div>
    </div>
  </div>
</div>
