<% intro = "See [all COVID-19 guidance on GOV.UK](/search/all?level_one_taxon=5b7b9532-a775-4bd2-a3aa-6ce380184b6c&content_purpose_supergroup%5B%5D=guidance_and_regulation&order=updated-newest)" %>

<div
  class="govuk-body"
  data-module="gem-track-click"
  data-track-category="pageElementInteraction"
  data-track-action="AccordionClick"
  data-track-links-only>

  <%= render_govspeak(intro) %>
</div>
