<% guidance ||= nil %>

<div
  class="govuk-body"
  data-module="gem-track-click"
  data-track-category="pageElementInteraction"
  data-track-action="AccordionClick"
  data-track-links-only>

  <% if guidance.present? && guidance["links"].present? %>
      <ul class="govuk-list">
      <% guidance["links"].map do |link| %>
        <li><%= link_to(link["label"], link["url"], class: "govuk-link") %></li>
      <% end %>
      </ul>
  <% end %>
</div>
