<% guidance ||= nil %>

<div
  class="govuk-body"
  data-module="gem-track-click"
  data-track-category="pageElementInteraction"
  data-track-action="AccordionClick"
  data-track-links-only>

  <% if guidance.present? && guidance["intro"].present? %>
    <%= render_govspeak(guidance["intro"]) %>
  <% end %>
</div>
