<%
  input_label ||= "Enter your postcode"
  input_value ||= nil
  input_error ||= nil
  hint_text ||= "For example SW1A 2AA"
  button_text ||= "Find"
  error_message ||= nil
  error_description ||= nil
  autocomplete ||= "postal-code"
  link ||= { text: "Find a postcode on Royal Mail's postcode finder", href: "http://www.royalmail.com/find-a-postcode"}
%>
<% if error_message %>
  <%= render "govuk_publishing_components/components/error_alert", {
      message: error_message,
      description: error_description,
    } %>
<% end %>
<div class="covid__postcode-lookup">
  <form action="" method="post">
    <%= render "govuk_publishing_components/components/input", {
          label: {
            text: input_label
          },
          heading_size: "s",
          error_message: input_error,
          value: input_value,
          name: "covid__postcode-lookup",
          hint: hint_text,
          invalid: error_message ? 'true' : 'false',
          autocomplete: autocomplete,
        } %>
    <%= render "govuk_publishing_components/components/button", text: button_text, margin_bottom: true %>
  </form>

  <% if link %>
    <%= tag.p link_to(
      link[:text],
      link[:href],
      class: "govuk-link covid__postcode-lookup--link"),
      class: "govuk-body" %>
  <% end %>
</div>
