<div class="govuk-grid-column-one-third">
  <%= render "govuk_publishing_components/components/heading", {
    text: related["title"],
    padding: true,
    font_size: 19,
  } %>
  <ul class="covid__list">
    <% related["list"].each do | item | %>
      <li class="covid__list-item">
        <%= link_to item["text"], item["url"], class: 'govuk-link' %>
      </li>
    <% end %>
  </ul>
</div>
