<% section["sub_sections"].each do |sub_section| %>
  <% if sub_section["title"] %>
    <h3 class="govuk-heading-s covid__accordion-heading"><%= sub_section["title"] %></h3>
  <% end %>
  <ul class="covid__list covid__list--accordion">
    <% sub_section["list"].each do | item | %>
      <li class="covid__list-item">
        <% if item["featured_link"] %> 
          <%= render 'components/action-link', {
            dark_icon: true,
            href: item["url"],
            text: item["label"] 
          }%>
        <% else %>
          <%= link_to(
            item["label"], 
            item["url"], 
            class: "govuk-link covid__accordion-link"
          ) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
