<% section["sub_sections"].each do |sub_section| %>
  <% if sub_section["title"] %>
    <h4 class="govuk-heading-s covid__accordion-heading"><%= sub_section["title"] %></h4>
  <% end %>
  <ul class="covid__list covid__list--accordion">
    <% sub_section["list"].each do | item | %>
      <li class="covid__list-item">
        <% if item["featured_link"] %>
          <%= render 'govuk_publishing_components/components/action_link', {
            simple: true,
            href: item["url"],
            text: item["label"],
            margin_bottom: 1
          }%>
          <% item_description = item["description"] %>
          <% if item_description %>
            <p class="govuk-body covid__list-item-description">
              <%= item_description %>
            </p>
          <% end %>
        <% else %>
          <%= link_to(
            item["label"],
            item["url"],
            class: "govuk-link covid__accordion-link"
          ) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
