<div class="covid-timeline" data-module="track-links" data-track-category="pageElementInteraction" data-track-action="Timeline">
  <%= render "govuk_publishing_components/components/heading", {
    text: timeline["heading"],
    padding: true,
    margin_bottom: 4
  } %>

  <% timeline["list"].each do | item | %>
    <div class="covid-timeline__item">
      <%= render "govuk_publishing_components/components/heading", {
        text: item["heading"],
        heading_level: 3,
        font_size: "s",
        margin_bottom: 1,
      } %>
      <%= render_govspeak(item["paragraph"]) %>
    </div>
  <% end %>
</div>
