<%
  tracking_category ||= nil
  tracking_action ||= nil
  tracking = true if tracking_category.present? && tracking_action.present?
%>

<ul class="govuk-list">
  <% topic_section["links"].each do | link | %>
    <li class="covid__topic-list-item">
      <%
        data = if tracking
          {
            module: "gem-track-click",
            track_category: tracking_category,
            track_action: tracking_action,
            track_label: link["url"],
          }
        end
      %>

      <%= link_to(
        link["label"].html_safe,
        link["url"],
        class: 'covid__topic-list-link govuk-link',
        data: data,
      ) %>
    </li>
  <% end %>
</ul>
