<section class="covid__topic-wrapper">
  <%= render "govuk_publishing_components/components/heading", {
    text: t("coronavirus_landing_page.video_section_heading"),
    padding: true,
    border_top: 2,
    margin_bottom: 6,
  } %>

  <%= render partial: 'shared/youtube_player', locals: {
    youtube_video_url: t("coronavirus_landing_page.video_section_link"),
    transcription_summary: t("coronavirus_landing_page.video_section_transcription_summary"),
    transcription_text: t("coronavirus_landing_page.video_section_transcription_text")
  } %>
</section>
