<% content_for :title, "Services and information - #{organisation['title']} - GOV.UK" %>
<% content_for :page_class, "topics-page" %>
<% content_for :meta_tags do %>
  <%= render 'shared/tag_meta_nav_ab_tracking' %>
  <% if is_page_under_ab_test %>
    <%= ab_variant.analytics_meta_tag.html_safe %>
  <% end %>
<% end %>

<header class="page-header group">
  <div class="full-width">
    <div class="heading">
      <h1>
        <%= link_to organisation["title"], organisation["base_path"] %>
        Services and information
      </h1>
    </div>
  </div>
</header>

<div class="browse-container full-width">
  <%= render partial: 'grouped_links', locals: { grouped_links: grouped_links } %>
</div>
