<% content_for :title, "Services and information - #{organisation['title']} - GOV.UK" %>
<% content_for :page_class, "topics-page" %>

<% content_for :extra_headers do %>
  <%= render partial: 'govuk_component/analytics_meta_tags',
    locals: { content_item: service_and_information.content_item.to_hash } %>
<% end %>

<header class="page-header group">
  <div class="full-width">
    <div class="heading">
      <h1>
        <%= link_to organisation["title"], organisation["base_path"] %>
        Services and information
      </h1>
    </div>
  </div>
</header>

<div class="browse-container full-width">
  <%= render partial: 'grouped_links', locals: { grouped_links: grouped_links } %>
</div>
