<% content_for :title, "Services and information - #{organisation['title']}" %>
<% content_for :page_class, "topics-page" %>
<% content_for :meta_tags do %>
  <% if is_page_under_ab_test %>
    <%= ab_variant.analytics_meta_tag.html_safe %>
  <% end %>
<% end %>

<header class="page-header group">
  <%= render "govuk_component/title", {
        title: "Services and information",
        context: { text: organisation["title"], href: organisation["base_path"] }
      } %>
</header>

<div class="browse-container full-width" data-module="track-click">
  <%= render partial: 'grouped_links', locals: { grouped_links: grouped_links } %>
</div>
