<% content_for :title, "Services and information - #{organisation['title']}" %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <%= render "govuk_publishing_components/components/title", {
        title: "Services and information",
        context: { text: organisation["title"], href: organisation["base_path"] }
      } %>
</header>

<div class="browse-container full-width" data-module="gem-track-click">
  <%= render partial: 'grouped_links', locals: { grouped_links: grouped_links } %>
</div>
