<% add_view_stylesheet("topics") %>

<% content_for :title, t("services_and_information.organisation_title", title: organisation["title"]) %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <%= render "govuk_publishing_components/components/title", {
        title: t("services_and_information.title"),
        context: organisation["title"],
      } %>
</header>

<div class="browse-container full-width" data-module="gem-track-click ga4-link-tracker">
  <%= render partial: 'grouped_links', locals: { grouped_links: grouped_links } %>
</div>
