<% track_action ||= "contentLink" %>

<ul class="govuk-list" data-module="gem-track-click">
  <% list.each_with_index do |list_item, index| %>
    <li class="govuk-!-margin-bottom-4">
      <%= link_to(
        list_item.title,
        list_item.base_path,
        class: "govuk-link",
        data: {
          track_category: "browseClicked",
          track_count: "contentLink",
          track_action: track_action,
          track_label: list_item.base_path,
          track_options: {
            dimension28: list.count.to_s,
            dimension29: list_item.title,
            dimension114: "#{list_index + 1}.#{index + 1}",
          },
        },
      ) %>
    </li>
  <% end %>
</ul>
