<%
  list_tracking_values = []
%>
<ul class="govuk-list" data-module="gem-track-click">
  <% section.each_with_index do |list_item, index| %>
    <%
    data_track_options = {
      "dimension114": 'value',
      "dimension28": 'value',
      "dimension29": list_item.title,
    }
    list_tracking_values << data_track_options
    %>
    <li class="govuk-!-margin-bottom-4">
      <%= link_to(
        list_item.title,
        "#",
        class: "govuk-link",
        data: {
          "track-category": 'browseClicked',
          "track-action": "contentLink",
          "track-label": list_item.base_path,
          "track-options": list_tracking_values,
        }.merge(track_count ? {
          "track-count": "contentLink"
        } : {})
      ) %>
    </li>
  <% end %>
</ul>
