<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: 'featured_taxons', locals: { display_full_width: false } %>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="campaign__other-campaigns-title"><%= t("campaign.other_campaigns.title") %></h2>
      <p class="campaign__other-campaigns-description"><%= t("campaign.other_campaigns.description") %></p>
      <ul class="campaign__other-campaigns-list" data-module="track-click">
      <% @other_links.each do |link| %>
        <li class="campaign__other-campaigns-item">
          <%= link_to(
            link.title,
            link.link,
            "aria-label": "#{t('campaign.see_more_in_taxon', topic: link.title.downcase)}",
            data: link.sidebar_data_attributes
          ) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
