<div class="campaign__other-campaigns">
  <h2 class="campaign__taxon-title">All Brexit guidance</h2>

  <p class="campaign__other-campaigns-description">View <%=
    link_to(
      "detailed information",
      "/prepare-eu-exit/all",
      data: {
        "track-category": "contentsClicked",
        "track-action": "all guidance" })
      %> about Brexit changes.
  </p>
</div>
