<section>
  <% if @other_taxons.any? %>
    <div class="grid-row">
      <div class="column-two-thirds">
        <%= render partial: 'featured_taxons', locals: { display_full_width: false } %>
      </div>
      <div class="column-one-third">
        <h3 class="campaign__other-topics-title"><%= t("campaign.other_topics") %></h3>
        <ul class="campaign__other-topics-list" data-module="track-click">
        <% @other_taxons.each do |taxon| %>
          <li class="campaign__other-topics-item">
            <%= link_to(
              taxon.title,
              taxon.finder_link,
              "aria-label": "#{t('campaign.see_more_in_taxon', topic: taxon.title.downcase)}",
              data: {
                "track-category": "sideNavTopics",
                "track-action": taxon.title
              }
            ) %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="grid-row">
      <%= render partial: 'featured_taxons' %>
    </div>
  <% end %>
</section>
