<% random = SecureRandom.hex(4) %>
<% section_title = "There's different guidance if you're:" %>
<% contents_list_links = [
    { text: "Running a business", href: "https://tiger-team-5-campaign-business-ready.glitch.me/" },
    { text: "A UK national living in the EU", href: "https://uk-nationals-in-eu.herokuapp.com" },
    { text: "An EU national living in the UK", href: "https://draft-origin.publishing.service.gov.uk/continue-live-uk-after-leaves-eu?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjMWU0ZGJhNy1kMzU1LTQ1ZTQtYTk0OC01OTI3MmIzZWUzYWEifQ.13RMXDLpk-lg0d8j8UEXEZAR58tYgP6jkaFPGFNXs88" },
  ]
%>
<div class="full-page-width-wrapper">
  <div class="gem-c-related-navigation" style="padding-top: 20px">
    <h2 id="related-nav-<%= section_title %>-<%= random %>"
        data-track-count="sidebarRelatedItemSection"
        class="gem-c-taxonomy-navigation__heading">
      <%= section_title %>
    </h2>

    <%= render "govuk_publishing_components/components/contents_list", contents: contents_list_links, hide_title: true %>
    </div>
</div>
