<section class="organisation__section-wrap organisation__margin-bottom" id="featured-documents">
  <h2 class="visually-hidden"><%= @show.featured_news_title %></h2>
  <%= render "govuk_publishing_components/components/image_card", @documents.first_featured_news %>
</section>
