<% content_for :is_full_width_header, true %>

<%= render "govuk_publishing_components/components/inverse_header", { full_width: true } do %>
  <div class="full-page-width-wrapper">
    <%= render 'govuk_publishing_components/components/breadcrumbs',
      breadcrumbs:  [
        {
          title: "Brexit campaign",
          url: "/link-to-campaign"
        },
        {
          title: "EU Exit guidance for yourself",
          url: "#",
          is_current_page: true
        }
      ],
      collapse_on_mobile: true,
      inverse: true
    %>

    <div class="grid-row">
      <div class="column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: t('campaign.page_title'),
          inverse: true
        } %>

        <%= render 'govuk_publishing_components/components/lead_paragraph', {
            text: "How to prepare for Brexit in March 2019 if you're a British citizen or have indefinite leave to remain in the UK.",
            inverse: true
        } %>
      </div>
    </div>
  </div>
<% end %>
