<h1 class="visually-hidden"><%= @header.org.title %></h1>

<div class="grid-row">
  <div class="<%= @header.logo_wrapper_class %> organisation__margin-bottom">
    <%= render "govuk_publishing_components/components/organisation_logo", {
      organisation: @header.organisation_logo
    } %>


  </div>


</div>
