<% content_for :is_full_width_header, true %>

<%= render "govuk_publishing_components/components/inverse_header", { full_width: true } do %>
  <div class="full-page-width-wrapper">
    <%= render 'govuk_publishing_components/components/breadcrumbs',
      breadcrumbs:  [
        {
          title: "Home",
          url: "/"
        },
        {
          title: @campaign.title
        }
      ],
      collapse_on_mobile: true,
      inverse: true
    %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: @campaign.title,
          inverse: true
        } %>
      </div>
    </div>
  </div>
<% end %>
