<section class="<%= "brand--#{@campaign.brand} brand__border-color" if @campaign.is_live? %> organisation__brand-border-top organisation__margin-bottom">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: 'Featured topics',
        padding: true
      } %>
    </div>
  </div>

  <% @taxons.in_groups_of(3, false) do |taxon_group| %>
    <% #taxon_group %>
    <div class="grid-row">
      <% taxon_group.each do |taxon| %>
        <!--<div>-->
          <% # taxon.sections.select { |section| section[:id] == "services" }.take(3) %>
        <!--</div>-->
        <div class="column-one-third">
          <% # taxon.sections.select { |section| section[:id] == "services" }.first[:documents].take(3).map {|doc| { link: { text: doc[:link][:text], path: doc[:link][:path] } } } %>
          <%= render "govuk_publishing_components/components/heading", {
            text: taxon.title,
            padding: true,
            font_size: 24,
            heading_level: 3
          } %>
          <% #documents[:documents][:items].map { |item| item[:link] } %>
          <%= render "govuk_publishing_components/components/document_list", items: taxon.sections.select { |section| section[:id] == "services" }.first[:documents].take(3).map {|doc| { link: { text: doc[:link][:text], path: doc[:link][:path] } } } %>
          <% # documents[:documents][:items].map { |item| { link: item[:link] } } %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
