<section>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('campaign.topics_affected_by_brexit'),
        padding: true,
        margin_bottom: 4
      }
      %>
    </div>
  </div>

  <% @taxons.in_groups_of(3, false) do |taxons_group| %>
    <% #taxon_group %>
    <div class="grid-row">
      <% # taxon_group.each do |taxon| %>
        <!--<div>-->
          <% # taxon.sections.select { |section| section[:id] == "services" }.take(3) %>
        <!--</div>-->
        <!--<div class="column-one-third">-->
          <% # taxon.sections.select { |section| section[:id] == "services" }.first[:documents].take(3).map {|doc| { link: { text: doc[:link][:text], path: doc[:link][:path] } } } %>
      <% taxons_group.each do |taxon| %>
        <div class="column-one-third">
          <%= render "govuk_publishing_components/components/heading", {
            text: taxon.title,
            padding: true,
            font_size: 24,
            heading_level: 3,
            border_top: 2,
            brand: "cabinet-office"
          } %>

          <%= render "components/topic-list", {
            items: taxon.sections.select { |section| section[:id] == "services" }.first[:documents].take(3).map {|doc| { text: doc[:link][:text], path: doc[:link][:path] } }
          } %>

          <% # taxon.sections.select { |section| section[:id] == "services" }.first[:documents].take(3).map {|doc| { text: doc[:link][:text], path: doc[:link][:path] } } %>

          <a href="/more" class="campaign__see-more"><%= t('campaign.see_more') %></a>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
