<div class="gem-c-related-navigation" style="padding-top: 20px">
  <h2 id="related-nav-<%= @campaign_links[:section_title] %>-<%= @campaign_links[:random] %>"
      data-track-count="sidebarRelatedItemSection"
      class="campaign__more-guidance">
    <%= @campaign_links[:section_title] %>
  </h2>

  <%= render "govuk_publishing_components/components/contents_list", contents: @campaign_links[:contents_list_links], hide_title: true %>
</div>
