<%= render partial: 'header' %>

<div class="taxon-page__email-link-wrapper">
  <div class="full-page-width-wrapper">
      <%= render "components/email-link", {
        text: t('campaign.email_signup'),
        href: "/email-signup/?",
        data: {
          module: "track-click",
          track_category: "emailAlertLinkClicked",
          track_action: "signup link goes here",
          track_label: ""
        }
      } %>
  </div>
</div>

<div class="full-page-width-wrapper">
  <%= render partial: 'latest_documents_by_type' %>
</div>
