// scss-lint:disable IdSelector
.full-width #wrapper {
  margin: 0;
  width: auto;
  max-width: 100%;
}

.full-width #global-header-bar {
  display: none;
}
// scss-lint:enable IdSelector

.full-page-width-wrapper {
  @include govuk-width-container;
}
