// stylelint-disable selector-max-id
.full-width #wrapper {
  margin: 0;
  width: auto;
  max-width: 100%;
}

.full-width #global-header-bar {
  display: none;
}
// stylelint-enable selector-max-id

.full-page-width-wrapper {
  @include govuk-width-container;
}
