<%= render partial: 'govuk_component/breadcrumbs',
  locals: @navigation_helpers.breadcrumbs %>

<div class="header-context">
  <%# Deliberately empty. %>
  <%# This will prevent Static from adding a placeholder breadcrumb. %>
</div>
