<%
  element ||= :li

  link = capture do
    link_to(raw(title), link, {
      class: "govuk-link chevron-card__link",
      data: data_attributes,
    })
  end
%>

<%= content_tag(element, class: "chevron-card") do %>
  <div class="chevron-card__wrapper">
    <%= render("govuk_publishing_components/components/heading", {
      text: link,
      font_size: "s",
      heading_level: sub_heading_level,
      margin_bottom: 2,
    }) %>
    <p class="govuk-body chevron-card__description"><%= raw(description) %></p>
  </div>
<% end %>
