<div id="root" class="pane">
  <h1 class="visuallyhidden" tabindex="-1">All categories</h1>
  <ul>
    <% root_sections.each do |root_section| %>
      <li class="<%= browsing_in_root_section?(root_section) ? 'active' : '' %>">
        <%= link_to root_section.title, root_section.web_url %>
      </li>
    <% end %>
  </ul>
</div>
