<div class="pane-inner">
  <h1 tabindex="-1">{{ title }}</h1>
  <p class="sort-order">A to Z</p>
  <ul>
    {{#options}}
      <li><a href="{{web_url}}">
        {{#showDescription}}
          <h3>{{title}}</h3>
          <p>{{details.description}}</p>
        {{/showDescription}}
        {{^showDescription}}
          {{title}}
        {{/showDescription}}
      </a></li>
    {{/options}}
  </ul>

  {{#detailed_guide_categories_any?}}
    <div class="detailed-guidance">
      <h2>Detailed guidance</h2>
      <ul>
        {{#detailed_guide_categories}}
          <li><a href="{{content_with_tag.web_url}}">{{title}}</a></li>
        {{/detailed_guide_categories}}
      </ul>
    </div>
  {{/detailed_guide_categories_any?}}
</div>
