<div id="root" class="pane root-pane">
  <h2 class="govuk-visually-hidden" tabindex="-1">All categories</h2>
  <ul>
    <% top_level_browse_pages.each_with_index do |page, index| %>
      <li class="<%= browsing_in_top_level_page?(page) ? 'active' : '' %>">
        <%= link_to(
          page.title,
          page.base_path,
          data: {
            track_category: 'firstLevelBrowseLinkClicked',
            track_action: "#{index + 1}",
            track_label: page.base_path,
            track_options: {
              dimension28: top_level_browse_pages.count.to_s,
              dimension29: page.title,
            },
          },
          class: "govuk-link",
        ) %>
      </li>
    <% end %>
  </ul>
</div>
