<% content_for :title, "Prototype: Mainstream Browse" %>

<ul class="grid-row">
  <% @browse.top_level_taxons.each_with_index do |top_level_taxon, index| %>
    <li class="browse-list column-one-third <%= "browse-list__row" if index % 3 == 0 %>">
      <h2 class="browse-heading"><%= top_level_taxon[:title] %></h2>
      <ul>
        <% top_level_taxon[:popular_content].each do |document| %>
          <li class="browse-document"><%= link_to(document.title, document.base_path) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
