<% content_for :title, "All categories - GOV.UK" %>
<% content_for :page_class, "browse" %>

<div class="browse-panes root">
  <%= render 'top_level_browse_pages', top_level_browse_pages: @page.top_level_browse_pages %>
</div>
