<% content_for :title, "#{section_tag.title} - GOV.UK" %>
<% content_for :page_class, "browse" %>

<div class="browse-panes section" data-state="section">
  <div id="section" class="pane with-sort">
    <%= render 'section' %>
  </div>

  <%= render 'root_sections' %>
</div>
