<%
  copy ||= false
  heading ||= false
  call_to_action ||= false
%>

<section class="covid__find-help">
  <% if heading.present? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: heading,
      inverse: true,
      font_size: 24,
      margin_bottom: 4
    } %>
  <% end %>

  <% if copy.present? %>
    <p class="govuk-body covid__inverse"><%= copy %></p>
  <% end %>

  <% if call_to_action.present? %>
    <%= render 'govuk_publishing_components/components/action_link', {
      light_text: true,
      dark_icon: true,
      compact: true,
      href: call_to_action[:href],
      text: call_to_action[:text],
      data: call_to_action[:data_attributes],
    } %>
  <% end %>
</section>
