<% if details.show_live_stream? %>
  <%= render partial: 'coronavirus_landing_page/components/landing_page/live_stream', locals: {
    details: details.live_stream
  } %>
<% else %>
  <div class="govuk-grid-row covid__video">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: "The next live press conference will be shown here",
        heading_level: 2,
        font_size: 19,
        inverse: true,
        margin_bottom: 0
      } %>
      <p class="govuk-body covid__inverse">
        <a href="https://www.youtube.com/user/Number10gov/videos" class="govuk-link covid__page-header-link">
          View past coronavirus press conferences on YouTube
        </a>
      </p>
    </div>
  </div>
<% end %>
