<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="covid__nhs-notice__logo">
      <%= render "govuk_publishing_components/components/organisation_logo", {
        organisation: {
          name: "nhs",
          url: "https://www.nhs.uk/",
          image: {
            url: image_url("nhs-logo.svg"),
            alt_text: "NHS"
          }
        }
      } %>
    </div>
    <%= render "govuk_publishing_components/components/heading", {
      text: nhs_banner["header"],
      margin_bottom: 6,
      font_size: "m"
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
      <%= render_govspeak(nhs_banner["nhs_sections"]) %>
  </div>
</div>
