<section class="covid__section covid__section--nhs"
         aria-label="notice"
         role="region"
         data-module="track-links"
         data-track-category="pageElementInteraction"
         data-track-action="callOutBox">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="covid__nhs-notice__logo">
        <%= render "govuk_publishing_components/components/organisation_logo", {
          organisation: {
            name: "nhs",
            url: "https://www.nhs.uk/",
            image: {
              url: image_url("nhs-logo.svg"),
              alt_text: "NHS"
            }
          }
        } %>
      </div>
      <%= render "govuk_publishing_components/components/heading", {
        text: "Testing and vaccinations",
        margin_bottom: 6,
        font_size: "m"
      } %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <% nhs_banner["sections"].each do |section| %>
        <%= render "govuk_publishing_components/components/heading", {
          text: section["heading"],
          heading_level: 2,
          font_size: "m",
          margin_bottom: 4,
        } if section["heading"].present? %>

        <%= render_govspeak(section["markdown"]) if section["markdown"].present? %>
      <% end %>
    </div>
  </div>
</section>
