<header class="covid__page-header covid__page-header--landing-page">
  <%= render "shared/landing_page_header_heading", {
    breadcrumbs: breadcrumbs,
    title: raw(title),
    inverse: true,
  } %>

  <div class="covid__page-header-content-section covid__page-guidance">
    <%= render "shared/landing_page_header_content", {
      action_link_blue_arrow: true,
      action_link_href: header["link"]["href"],
      action_link_text: header["link"]["link_text"],
      action_link_subtext: header["link"]["subtext"],
      action_link_mobile_subtext: true,
      action_link_nowrap_text: header["link"]["link_nowrap_text"],
      action_link_data: {
        module: "gem-track-click",
        track_category: "pageElementInteraction",
        track_action: "Header",
        track_label: header["link"]["href"]
      },
    } do %>
          <%= render "govuk_publishing_components/components/heading", {
            text: header["title"],
            font_size: 19,
            margin_bottom: 6,
          } %>

          <div
            class="covid__page-header-content"
            data-module="gem-track-click"
            data-track-category="pageElementInteraction"
            data-track-action="Header"
            data-track-links-only>
            <%= render_govspeak(header["intro"]) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</header>
