<header class="covid__page-header covid__page-header--landing-page">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: raw(title),
          inverse: true,
          margin_top: 4
        } %>
      </div>
    </div>
  </div>

  <div class="covid__page-header-content-section covid__page-guidance">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: header["title"],
            font_size: 19,
            margin_bottom: 6
          } %>

          <div
            class="covid__page-header-content"
            data-module="gem-track-click"
            data-track-category="pageElementInteraction"
            data-track-action="Header"
            data-track-links-only>
            <%= render_govspeak(header["intro"]) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
