<%
  input_label ||= "Enter your postcode"
  input_value ||= ""
  input_error ||= ""
  hint_text ||= ""
  button_text ||= ""
  error_message ||= nil
  error_description ||= nil
  autocomplete ||= nil
  link ||= nil
%>
<% if error_message %>
  <%= render "govuk_publishing_components/components/error_alert", {
      message: error_message,
      description: error_description,
    } %>
<% end %>
<div class="app-c-lookup">
  <form method="post">
    <%= render "govuk_publishing_components/components/input", {
          label: {
            text: input_label
          },
          heading_size: "s",
          error_message: input_error,
          value: input_value,
          name: "app-c-lookup",
          hint: hint_text,
          invalid: error_message ? 'true' : 'false',
          autocomplete: autocomplete,
        } %>
    <%= render "govuk_publishing_components/components/button", text: button_text, margin_bottom: true %>
  </form>

  <% if link %>
    <%= tag.p link_to(
      link[:text],
      link[:href],
      target: "_blank",
      class: "govuk-link govuk-link--external",
      rel: "external"),
      class: "govuk-body" %>
  <% end %>
</div>
