<div <%= t_lang("roles.headings.responsibilities") %>>
  <%= render "govuk_publishing_components/components/contents_list", {
    ga4_tracking: true,
    contents: [
      {
        text: t("roles.headings.responsibilities"),
        href: "#responsibilities"
      },

      role.currently_occupied? ? {
        text: t("roles.headings.current_holder"),
        href: "#current-role-holder"
      } : nil,

      role.past_holders.present? || role.supports_historical_accounts? ? {
        text: t("roles.headings.previous_holders"),
        href: "#past-role-holders"
      } : nil,

      role.announcements.items.present? ? {
        text: t("shared.schema_name.announcement.other"),
        href: "#announcements"
      } : nil,
    ].compact
  } %>
</div>
