<% if role.current_holder %>
  <div dir="<%= page_text_direction %>" lang="<%= role.locale %>">
    <%= t("roles.headings.current_holder") %>:
    <%= link_to role.current_holder["title"], role.current_holder["base_path"] %>
  </div>
<% end %>
