<header class="govuk-grid-row" dir="<%= page_text_direction %>" lang="<%= role.locale %>">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: t("roles.ministerial"),
      context_locale: t_fallback("roles.ministerial"),
      title: role.title
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/translation-nav", {
      translations: role.translations
    } %>
  </div>
</header>
