<% if role.organisations %>
  <div class="organisations-list" <%= t_direction %> lang="<%= role.locale %>">
    <span lang="en">Organisations</span>:
    <%= role.organisations.map { |organisation| link_to(organisation['title'], organisation['base_path']) }.to_sentence.html_safe %>
  </div>
<% end %>
