<% unless role.past_holders.empty? %>
  <section id="past-role-holders" class="govuk-!-padding-bottom-9">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Previous holders of this role",
    } %>

    <% if role.supports_historical_accounts? %>
      <p>Find out more about previous holders of this role in our <%= link_to "past #{role.title.pluralize}", role.past_holders_url, class: "govuk-link" %> section.</p>
    <% elsif role.past_holders.present? %>
      <%= render "components/taxon-list", {
        items: role.past_holders.map do |rh|
          {
            text: rh['title'],
            path: rh['base_path'],
            description: "#{rh['details']['start_year']} to #{rh['details']['end_year']}"
          }
        end
      } %>
    <% end %>
  </section>
<% end %>
