<% if role.supports_historical_accounts? %>
  <section id="past-role-holders" class="govuk-!-padding-bottom-9">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Previous holders of this role",
    } %>
    <p class="govuk-body" lang="en">
      Find out more about previous holders of this role in our <%= link_to "past #{role.title.pluralize}", role.past_holders_url, class: "govuk-link" %> section.
    </p>
  </section>
<% elsif role.past_holders.present? %>
  <section id="past-role-holders" class="govuk-!-padding-bottom-9">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Previous holders of this role",
    } %>
    <%= render "components/taxon-list", {
      items: role.past_holders.map do |rh|
        {
          text: rh['title'],
          path: rh['base_path'],
          description: "#{rh['details']['start_year']} to #{rh['details']['end_year']}"
        }
      end
    } %>
  </section>
<% end %>
