<% if role.supports_historical_accounts? %>
  <section id="past-role-holders" class="govuk-!-padding-bottom-9">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("roles.previous_holders"),
      margin_bottom: 2,
    } %>
    <p class="govuk-body" lang="en">
      <%= t("roles.find_out_more_html", link: link_to(t("roles.past") + " #{role.title.pluralize}", role.past_holders_url, class: "govuk-link")) %>
    </p>
  </section>
<% elsif role.past_holders.present? %>
  <section id="past-role-holders" class="govuk-!-padding-bottom-9">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("roles.previous_holders"),
      margin_bottom: 2,
    } %>
    <%= render "govuk_publishing_components/components/list", {
      list_type: "number",
      items: role.past_holders.map do |rh|
        sanitize(
          "<h3 class='govuk-heading-s govuk-!-margin-bottom-1'>
            <a href=#{rh['base_path']} class='govuk-link'>#{rh['title']}</a>
          </h3>
          <p class='govuk-body'>#{rh['details']['start_year']} to #{rh['details']['end_year']}</p>"
        )
      end
    } %>
  </section>
<% end %>
