.app-c-accordion {
  &.app-c-accordion--active {
    margin-bottom: govuk-spacing(6);
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.app-c-accordion__header {
  position: relative;
  padding-top: 14px;
  padding-bottom: 12px;

  .app-c-accordion--active & {
    border-top: 1px solid $govuk-border-colour;
    cursor: pointer;

    &:hover {
      background: govuk-colour("light-grey");
    }
  }
}

.app-c-accordion__icon {
  position: absolute;
  top: 50%;
  right: 0;
  height: 16px;
  width: 16px;
  margin-top: -8px;
  // stylelint-disable declaration-block-no-shorthand-property-overrides
  background-image: image-url('icons-plus-minus.png'); // PNG fallback for SVG
  background: image-url("icons-plus-minus.svg"), linear-gradient(transparent, transparent); // SVG sprite
  // stylelint-enable declaration-block-no-shorthand-property-overrides
  background-repeat: no-repeat;
  background-position: 0 -16px;

  @include govuk-media-query($from: tablet) {
    right: 15px;
  }

  .section-is-open & {
    background-position: 0 0;
  }
}

.app-c-accordion__title {
  @include govuk-font(24, $weight: bold);
}

// removes extra dotted outline from buttons in Firefox
// on focus (standard yellow outline unaffected)
@mixin firefox-remove-second-button-outline {
  &::-moz-focus-inner {
    border: 0;
  }
}

.app-c-accordion__description {
  @include govuk-font(19);

  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 45px;
}

.app-c-accordion__panel {
  padding-top: 5px;
  padding-bottom: govuk-spacing(3);

  .section-is-open & {
    @include govuk-media-query($from: tablet) {
      padding-top: 10px;
      padding-bottom: govuk-spacing(6);
    }
  }
}

.app-c-accordion__button {
  @include firefox-remove-second-button-outline;

  color: $govuk-link-colour;
  cursor: pointer;
  background: none;
  border: 0;

  &--title {
    @include govuk-font(24, $weight: bold);

    display: inline-block;
    margin-right: 45px;
    padding: 0;
    text-align: left;
  }

  &--controls {
    @include govuk-font(16);

    float: right;
    position: relative;
    z-index: 1; // this and relative position stops focus outline underlap with border of accordion
    padding: .5em 0;
  }
}

.app-c-accordion__controls {
  @include govuk-clearfix;
}
