.app-c-action-link {
  display: table;

  @include govuk-media-query($until: tablet) {
    max-width: 410px;
  }
}

.app-c-action-link__arrow {
  display: table-cell;
  width: 50px;
  height: 45px;
  background-image: image-url("action-link-arrow.png"); // PNG fallback for SVG
  background-image: image-url("action-link-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 37px auto;
}

.app-c-action-link__link-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.app-c-action-link__link {
  @include govuk-font(19, $weight: bold);

  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:active {
    text-decoration: none;
    color: govuk-colour("black");
  }
}

.app-c-action-link__nowrap-text {
  white-space: nowrap;
}

.app-c-action-link--dark-icon {
  max-width: none;

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(2);
  }

  .app-c-action-link__arrow {
    width: 35px;
    height: 30px;
    background-image: image-url("action-link-arrow--dark.png"); // PNG fallback for SVG
    background-image: image-url("action-link-arrow--dark.svg");
    background-size: 25px auto;
    background-position: 0 0;
  }

  .app-c-action-link__link {
    text-decoration: none;
  }
}

.app-c-action-link--light-text {
  .app-c-action-link__link {
    color: govuk-colour("white");
    text-decoration: underline;

    &:link,
    &:visited {
      color: govuk-colour("white");
    }

    &:focus,
    &:active {
      text-decoration: none;
      color: govuk-colour("black");
    }
  }
}

.app-c-action-link--compact {
  .app-c-action-link__arrow {
    height: 30px;
    width: 26px;
  }

  @include govuk-media-query($until: tablet) {
    margin-bottom: 0;
  }
}
