
.app-c-header-notice {
  @include govuk-responsive-margin(4, "bottom");
}

.app-c-header-notice__branding--nhs {
  border: solid 5px $covid-grey;

  .app-c-header-notice__header {
    padding-bottom: 0;
    background-color: govuk-colour("white");
  }

  .app-c-header-notice__title-logo {
    display: block;
  }

  .app-c-header-notice__content {
    border: 0;
  }
}

.app-c-header-notice__header {
  background-color: govuk-colour("black");
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(2) govuk-spacing(4);
}

.app-c-header-notice__title {
  color: govuk-colour("white");
  margin: 0;
}

.app-c-header-notice__title-logo {
  max-width: 60px;
  height: 33px;
}

.app-c-header-notice__content {
  border: $govuk-border-width solid govuk-colour("black");
  padding: govuk-spacing(4);
}

.app-c-header-notice__list {
  @include govuk-responsive-margin(5, "bottom");
}

.app-c-header-notice__call-to-action-link {
  @include govuk-font(19, $weight: bold);
}

.app-c-header-notice__call-to-action {
  @include govuk-font(16, $weight: bold);
}

.app-c-header-notice__call-to-action-description {
  @include govuk-font(19);
  padding-top: govuk-spacing(3)
}
