.app-c-taxon-list {
  margin: 0;
  padding: 0;
}

.app-c-taxon-list__item {
  @include govuk-font(19);
  list-style: none;
  margin-bottom: govuk-spacing(4);
}

.app-c-taxon-list__heading {
  margin-bottom: govuk-spacing(1);
}

.app-c-taxon-list__link {
  font-weight: bold;
}
