.app-c-topic-list__item {
  @include govuk-font(19, $weight: bold);
  list-style: none;
  margin-bottom: govuk-spacing(2);
}

.app-c-topic-list--small {
  .app-c-topic-list__item {
    margin-bottom: govuk-spacing(1);
  }

  .app-c-topic-list__link {
    @include govuk-font(16, $weight: bold);
  }
}

.app-c-topic-list--margin-bottom {
  @include responsive-bottom-margin;
}
