.youtube__video-placeholder {
  background-color: govuk-colour('white');
  position: relative;
  padding: 110px 0;
  border: solid 2px govuk-colour("black");
  text-align: center;
  margin-bottom: govuk-spacing(2);

  .govuk-body {
    margin: 0;
    color: govuk-colour("black");
  }

  .youtube__bold {
    font-weight: bold;
  }
}

.youtube__video-logo {
  @include govuk-font(19, $weight: bold, $line-height: 1);
  position: absolute;
  top: 0;
  left: 0;
  padding: govuk-spacing(1);
  padding-top: govuk-spacing(2);
  padding-left: govuk-spacing(5);
  padding-right: govuk-spacing(2);
  margin: govuk-spacing(3);
  border: solid 1px govuk-colour("black");
  text-transform: uppercase;

  &:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 8px;
    width: 12px;
    height: 12px;
    background: govuk-colour("red");
    border-radius: 100%;
  }
}

.youtube__video-wrapper--inverse {
  .govuk-details__summary {
    color: govuk-colour('white');

    &:hover {
      color: govuk-colour('white');
    }

    &:focus,
    &:hover:focus,
    &:hover:focus .govuk-details__summary-text {
      color: govuk-colour('black');
    }
  }

  .govuk-details__text {
    color: govuk-colour('white');
    border-left-color: govuk-colour('white');
  }

  .govuk-details__list {
    color: govuk-colour('white');
  }

  .govuk-details__summary-text {
    &:hover {
      color: govuk-colour('white');
    }
  }
}
