<% add_view_stylesheet("history_people") %>

<% content_for :title, @index_page.title %>

<% page_class "historic-appointments-index govuk-width-container" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/title", {
      context: "History",
      title: @index_page.title,
    } %>
  </div>
</div>

<%= render partial: "shared/featured_historical_figures", locals: { historical_figures_with_image: @index_page.selection_of_profiles, heading: I18n.t("historic_appointments_index.headings.selection_of_profiles")} %>

<% @index_page.centuries_data.each do |heading, people| %>
  <%= render partial: "shared/historical_figures_by_century", locals: { people:, heading: I18n.t("historic_appointments_index.headings.#{heading}") }  %>
<% end %>
