<section class="gem-c-notice gem-c-notice--bottom-margin" aria-label="Notice" role="region">
  <div class="gem-c-govspeak govuk-govspeak ">
    <%= "<a href='https://www.gov.uk#{ answer["link"] }'>#{ answer["title"] }</a>".html_safe %>
  </div>
</section>