(function(){

  <% if @answer.any? %>
    $("#answer").html("<%= j render(partial: "answer.html.erb", locals: { answer: @answer.first }) %>");
  <% else %>
    $("#answer").html("");
  <% end %>
  $("#answer").show();
  $("#results").html("");
  <% @rank = 0 %>
  <% @results.each_with_index do |result, index| %>
    $("#results").append("<%= j render(partial: "result.html.erb", locals: { result: result })%>");
  <% end %>
  <% if not @results.any? %>
    $("#results").append("<h2 style='text-align: center'>No results found</h2>");
  <% end %>
  $("#searchResultsText").show();
  $("#results").LoadingOverlay("hide", true);
})();