(function(){

  <% if @answer.any? %>
    $("#answer").html("<%= "<h2>We think you want this <a href='https://www.gov.uk#{ @results.first["link"] }'>#{ @results.first["title"] }</a><h2>".html_safe %>");
  <% else %>
    $("#answer").html("");
  <% end %>
  $("#results").html("");
  <% @results.each do |result| %>
    $("#results").append("<a href='https://www.gov.uk<%= result["link"] %>'><%= result["title"] %></a><br />");
  <% end %>
})();