(function(){

  <% if @answer.any? %>
    $("#answer").html("<%= "<h2>We think you want this <a href='https://www.gov.uk#{ @answer.first["link"] }'>#{ @answer.first["title"] }</a><h2>".html_safe %>");
  <% else %>
    $("#answer").html("");
  <% end %>
  $("#results").html("");
  <% @rank = 0 %>
  <% @results.each_with_index do |result, index| %>
    $("#results").append("<%= j render(partial: "result.html.erb", locals: { result: result })%>");
  <% end %>
  $("#searchResultsText").show();
})();