<div class="govuk-grid-column-one-quarter" role="listitem">
  <%= render "govuk_publishing_components/components/heading", {
    text: name,
    heading_level: 3,
    font_size: "s"
  } %>
  <% info[:service].each do | service | %>
    <p class="govuk-body"><%= service %></p>
  <% end %>
</div>
