$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;
$govuk-use-legacy-palette: false;
$covid-grey: #272828;
$covid-yellow: #fff500;


// gem components
@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';
@import 'govuk_publishing_components/components/accordion';
@import 'govuk_publishing_components/components/action-link'; // also available via static
@import 'govuk_publishing_components/components/breadcrumbs';
@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/contents-list';
@import 'govuk_publishing_components/components/details';
@import 'govuk_publishing_components/components/document-list';
@import 'govuk_publishing_components/components/error-message';
@import 'govuk_publishing_components/components/feedback';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/heading';
@import 'govuk_publishing_components/components/hint';
@import 'govuk_publishing_components/components/image-card';
@import 'govuk_publishing_components/components/input';
@import 'govuk_publishing_components/components/inverse-header';
@import 'govuk_publishing_components/components/label';
@import 'govuk_publishing_components/components/lead-paragraph';
@import 'govuk_publishing_components/components/metadata';
@import 'govuk_publishing_components/components/notice';
@import 'govuk_publishing_components/components/organisation-logo';
@import 'govuk_publishing_components/components/phase-banner';
@import 'govuk_publishing_components/components/previous-and-next-navigation';
@import 'govuk_publishing_components/components/share-links';
@import 'govuk_publishing_components/components/step-by-step-nav';
@import 'govuk_publishing_components/components/subscription-links';
@import 'govuk_publishing_components/components/table';
@import 'govuk_publishing_components/components/title';
@import 'govuk_publishing_components/components/translation-nav';

@import "helpers/layouts";
@import "helpers/margins";
@import "helpers/typography";
@import "components/*";

@import "views/browse";
@import "views/transition-landing-page";
@import "views/transition-countdown";
@import "views/dit-landing-page";
@import "views/latest-changes";
@import "views/topics";
@import "views/taxons";
@import "views/organisations";
@import "views/organisation";
@import "views/covid";

@import "modules/full-page-width";
