$govuk-compatibility-govuktemplate: false;
$govuk-use-legacy-palette: false;

$covid-grey: #272828;
$covid-yellow: #fff500;
$govuk-new-link-styles: true;

// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

// gem components
@import "govuk_publishing_components/govuk_frontend_support";
// @import "govuk_publishing_components/component_support";
@import "govuk_publishing_components/components/accordion";
@import "govuk_publishing_components/components/action-link";
@import "govuk_publishing_components/components/big-number";
@import "govuk_publishing_components/components/cards";
@import "govuk_publishing_components/components/contents-list";
@import "govuk_publishing_components/components/details";
@import "govuk_publishing_components/components/document-list";
@import "govuk_publishing_components/components/govspeak";
@import "govuk_publishing_components/components/image-card";
@import "govuk_publishing_components/components/inverse-header";
@import "govuk_publishing_components/components/lead-paragraph";
@import "govuk_publishing_components/components/metadata";
@import "govuk_publishing_components/components/notice";
@import "govuk_publishing_components/components/organisation-logo";
@import "govuk_publishing_components/components/phase-banner";
@import "govuk_publishing_components/components/previous-and-next-navigation";
@import "govuk_publishing_components/components/share-links";
@import "govuk_publishing_components/components/signup-link";
@import "govuk_publishing_components/components/step-by-step-nav";
@import "govuk_publishing_components/components/subscription-links";
@import "govuk_publishing_components/components/translation-nav";

@import "helpers/margins";
@import "components/*";

@import "views/browse";
@import "views/cost_of_living";
@import "views/topics";
@import "views/topical_events";
@import "views/taxons";
@import "views/organisations";
@import "views/organisation";
@import "views/covid";
