<% add_view_stylesheet("history_people") %>

<% content_for :title, @index_page.title %>

<% page_class "govuk-main-wrapper govuk-main-wrapper--auto-spacing historic-appointments-index" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/heading", {
      context: "History",
      text: @index_page.title,
      heading_level: 1,
      margin_bottom: 8,
      font_size: "xl",
    } %>
  </div>
</div>

<% @presenter.featured_profile_groups.each do |heading, people| %>
  <%= render partial: "historic_appointments/grouped_historical_people", locals: {
    people:,
    heading: I18n.t("historic_appointments_index.headings.#{heading}"),
    include_images: true,
  } %>
<% end %>

<% @presenter.other_profile_groups.each do |heading, people| %>
  <%= render partial: "historic_appointments/grouped_historical_people", locals: {
    people:,
    heading: I18n.t("historic_appointments_index.headings.#{heading}"),
    include_images: false,
  }  %>
<% end %>
